<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/home/css/reset.css">
    <script src="__STATIC__/home/js/flexible.js"></script>
    <script src="__STATIC__/home/js/flexible_css.js"></script>
    <link rel="stylesheet" href="__STATIC__/home/css/owl.carousel.css">
    <link rel="stylesheet" href="__STATIC__/home/css/owl.theme.default.css">
    <link rel="stylesheet" href="__STATIC__/home/css/animate.min.css">
    <link media="screen and (max-device-width: 992px)" rel="stylesheet" href="__STATIC__/home/css/mobile-main.css">
    <link media="screen and (min-device-width: 992px)" rel="stylesheet" href="__STATIC__/home/css/main.css">

</head>
<body>
<!-- 头部logo -->
<div class="header-sec">
    <div class="header-box">
        <div class="logo-wrap">
            <div id="origin"></div>
            <!-- <svg id="origin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390 80" style="enable-background:new 0 0 390 78;" xml:space="preserve"></svg> -->
            <!-- <circle cx="39" cy="39" r="37" fill="#fff" stroke="#000" stroke-width="4"></circle> -->
            <svg id="base" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 390 80" style="enable-background:new 0 0 42 56;" xml:space="preserve">
                    <style type="text/css">
                        .st1{fill:#e84466;}
                        .st2{fill:#e84466;}
                        .st3{fill:#e84466;}
                        .st4{fill:#e84466;}
                    </style>
                    <g class="titleWrapper">
                        <path class="staff st1" d="M272.5,21.8l2.8-1.2c0.9,1.6,1.7,3.1,2.4,4.4l-2.8,1.2C274.3,25,273.5,23.6,272.5,21.8z"/>
                        <path class="staff st1" d="M291.3,21.9l2.5-1.2c0.8,1.3,1.6,2.7,2.5,4.2l-2.6,1.4C293,24.7,292.2,23.3,291.3,21.9z"/>
                        <path class="staff st1" d="M84.5,58.2h-3.5h-3.5V21.8H83h5.5L95,50.6h0l6.4-28.8h5.4h5.4v36.3h-3.5h-3.5V27.6h0l-6.7,30.5h-3.7h-3.7
                            L84.5,27h0V58.2z"/>
                        <path class="staff st1" d="M134.8,38.5h14.9v19.6h-5.7v-4.7l-0.4,0.6c-2.5,3.4-5.9,5.1-10.2,5.1h0c-5.2,0-9.3-1.7-12.3-5.1
                            c-3-3.4-4.6-8-4.6-13.8c0-5.9,1.6-10.6,4.8-14.1c3.2-3.5,7.5-5.2,12.9-5.2c4.3,0,7.9,1.1,10.7,3.3c2.8,2.2,4.4,5.2,4.9,8.9h-7.4
                            c-0.2-1.6-1.1-3-2.6-4.2c-1.6-1.2-3.3-1.8-5.2-1.8c-3.2,0-5.8,1.1-7.6,3.4c-1.8,2.3-2.7,5.4-2.7,9.5c0,4.1,0.9,7.3,2.6,9.4
                            c1.7,2.1,4.3,3.2,7.7,3.2h0c2.9,0,5.1-1.1,6.7-3.4c0.9-1.3,1.5-2.8,2-4.5v-0.1h-8.4V38.5z"/>
                        <path class="staff st1" d="M158.6,54c-3.1-3.4-4.6-8-4.6-13.8c0-5.9,1.5-10.6,4.6-14.1c3.1-3.5,7.3-5.2,12.5-5.2c5.3,0,9.5,1.7,12.5,5.2
                            s4.6,8.2,4.6,14.1c0,5.8-1.5,10.4-4.6,13.8s-7.3,5.1-12.5,5.1C165.8,59.1,161.7,57.4,158.6,54z M178.2,49.4
                            c1.7-2.2,2.6-5.3,2.6-9.2c0-4-0.9-7.2-2.6-9.4c-1.7-2.3-4.1-3.4-7.1-3.4c-3,0-5.4,1.1-7.1,3.4c-1.7,2.3-2.6,5.4-2.6,9.4
                            c0,3.9,0.9,7,2.6,9.2c1.7,2.2,4.1,3.3,7.1,3.3C174.1,52.7,176.5,51.6,178.2,49.4z"/>
                        <path class="staff st1" d="M192.3,21.8h3.7h3.7v36.3h-3.7h-3.7V21.8z"/>
                        <path class="staff st1" d="M226.3,24.7v28h3.3v-4.5h4.1v2.5h3.3v-26H226.3z M233.7,44.9h-4.1V27.9h4.1V44.9z"/>
                        <path class="staff st1" d="M258.7,37.9v-8.7H250l0.5-4.2h11.8v-3.2H239V25h8.1l-0.5,4.2h-5.6v3.2h5.3l-0.7,5.5H238v3.2h25.7v-3.2H258.7z
                            M255.4,37.9H249l0.7-5.5h5.8V37.9z"/>
                        <path class="staff st1" d="M241.8,44.3V59h3.3v-2.3h12v1.7h3.3V44.3H241.8z M257.1,53.5h-12v-6h12V53.5z"/>
                        <rect x="268.1" y="27.5" class="staff st1" width="14.6" height="3.2"/>
                        <path class="staff st1" d="M281.5,33.4h-11.2c0,0-0.1,3.1,0,3.2c0.1,0.1,11.2,0,11.2,0V33.4z"/>
                        <rect x="270.3" y="39.3" class="staff st1" width="11.2" height="3.2"/>
                        <path class="staff st1" d="M269.8,45.3v13.6c0,0,2.8,0.2,2.8,0c0-0.2,0-1.8,0-1.8h6.6v1h2.8V45.3H269.8z M279.2,54.3h-6.6V48h6.6V54.3z"/>
                        <path class="staff st1" d="M291.5,30.5h-6.7v-3.2h20.1v3.2h-9.5c-1.2,2.3-4.3,6.6-5.1,7.4c1,0.9,2.8,2.7,2.8,2.7c2.2-2,4.3-5.2,5.6-7.4
                            c0.7,0.6,2.5,2,2.5,2c-3,6.8-13,14.8-15.3,15.2c-0.5-0.8-2-3-2-3s4.1-1.7,6.7-4.4c-1.4-1.4-4.6-4.4-6.3-5.5c1-1,2.3-2.3,2.3-2.3
                            l1.3,1L291.5,30.5z"/>
                        <path class="staff st1" d="M302.2,37.9c-3,6.4-11.1,14.9-19.3,17.9c0.4,1,1.3,3.5,1.3,3.5c5.6-2.9,10.6-6.2,12.3-8.4
                            c2.9,2.8,3.5,3.3,6.1,7.5c1-1.2,2.8-3.5,2.8-3.5s-3.6-4.5-6.6-6.5c0,0,4.8-5.6,5.8-8.5C303.5,38.9,302.2,37.9,302.2,37.9z"/>
                        </g>
                </svg>
        </div>
        <div class="nav-wrap">
            <div class="btn-menu btn">
                <!-- <a href="javascript:;">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </a> -->
            </div>
            <div class="index-nav-wrap">
                <div class="nav-space"></div>
                <div class="index-nav-item">
                    <ul class="main-nav-ul">
                        <li class="sildeUp">
                            <a href="#"><span>唔该</span></a>
                        </li>
                        <li class="sildeUp">
                            <a href="#"><span>产品</span></a>
                        </li>
                        <li>
                            <a href="#"><span>关于</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lr-container">
    <div class="l-content">
        <div class="nav-box">
            <div class="nav nav-top-wrap">
                <ul class="block">
                    <li class="nav-item">
                        <a href="javascript:;"><span>节假日</span></a>
                    </li>
                </ul>
            </div>
            <div class="nav nav-top-wrap">
                <ul class="block">
                    <li class="nav-item">
                        <a href="javascript:;"><span>节假日</span></a>
                    </li>
                </ul>
            </div>
            <div class="nav">
                <div class="nav-top">
                    <a href="javascript:;">节日礼品</a>
                </div>
                <ul>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>节假日</span><i class="my-icon nav-more">+</i></a>
                        <ul style="display:block;">
                            <li><a href="javascript:;"><span>- 节假日所有产品</span></a></li>
                            <li><a href="javascript:;"><span>- 圣诞节</span></a></li>
                            <li><a href="javascript:;"><span>- 春节</span></a></li>
                            <li><a href="javascript:;"><span>- 万圣节</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>文章管理</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="javascript:;"><span>- 站内新闻</span></a></li>
                            <li><a href="javascript:;"><span>- 站内公告</span></a></li>
                            <li><a href="javascript:;"><span>- 登录日志</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>订单管理</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="javascript:;"><span>- 订单列表</span></a></li>
                            <li><a href="javascript:;"><span>- 打个酱油</span></a></li>
                            <li><a href="javascript:;"><span>- 也打酱油</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nav">
                <div class="nav-top">
                    <a href="javascript:;">节日礼品</a>
                </div>
                <ul>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>节假日</span><i class="my-icon nav-more">+</i></a>
                        <ul style="display:block;">
                            <li><a href="javascript:;"><span>- 节假日所有产品</span></a></li>
                            <li><a href="javascript:;"><span>- 圣诞节</span></a></li>
                            <li><a href="javascript:;"><span>- 春节</span></a></li>
                            <li><a href="javascript:;"><span>- 万圣节</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>文章管理</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="javascript:;"><span>- 站内新闻</span></a></li>
                            <li><a href="javascript:;"><span>- 站内公告</span></a></li>
                            <li><a href="javascript:;"><span>- 登录日志</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>订单管理</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="javascript:;"><span>- 订单列表</span></a></li>
                            <li><a href="javascript:;"><span>- 打个酱油</span></a></li>
                            <li><a href="javascript:;"><span>- 也打酱油</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="r-content">
    </div>
</div>

<!-- 轮播图 -->
<div class="banner-sec preloader">
    <div class="w1100">
        <div class="head-banner-wrap">
            <div class="nav-box">
                <div class="arrow prev">
                    <span>
                        <img class="default" src="__STATIC__/home/images/banner/larrow.png" alt="">
                        <img class="high none" src="__STATIC__/home/images/banner/larrow@high.png" alt="">
                    </span>
                </div>
                <div class="arrow next">
                    <span>
                        <img class="default" src="__STATIC__/home/images/banner/rarrow.png" alt="">
                        <img class="high none" src="__STATIC__/home/images/banner/rarrow@high.png" alt="">
                    </span>
                </div>
            </div>

            <div class="head-banner owl-carousel">
                <div class="main-sec-big-img item" style="backgroundImage:'__STATIC__/home/images/b1.jpg'" data-small-img="__STATIC__/home/images/b1.jpg" data-image-xs="__STATIC__/home/images/b1.jpg"  data-image-lg="__STATIC__/home/images/b1.jpg"></div>
                <div class="item" data-small-img="__STATIC__/home/images/b2.jpg" data-image-xs="__STATIC__/home/images/b2.jpg"  data-image-lg="__STATIC__/home/images/b2.jpg"></div>
                <div class="item" data-small-img="__STATIC__/home/images/b3.jpg" data-image-xs="__STATIC__/home/images/b3.jpg"  data-image-lg="__STATIC__/home/images/b3.jpg"></div>
                <div class="item" data-small-img="__STATIC__/home/images/b2.jpg" data-image-xs="__STATIC__/home/images/b2.jpg"  data-image-lg="__STATIC__/home/images/b2.jpg"></div>
            </div>
        </div>
        <div class="dots-wrap">
            <div class="dot">
                <i></i>
            </div>
            <div class="dot">
                <i></i>
            </div>
            <div class="dot">
                <i></i>
            </div>
            <div class="dot">
                <i></i>
            </div>
        </div>
        <ul class="rela-imgs hidden">
            <li class="active"><a href="#"><img src="__STATIC__/home/images/fp1.jpg" alt=""></a></li>
            <li><a href="#"><img src="__STATIC__/home/images/fp2.jpg" alt=""></a></li>
            <li><a href="#"><img src="__STATIC__/home/images/fp3.jpg" alt=""></a></li>
            <li><a href="#"><img src="__STATIC__/home/images/fp4.jpg" alt=""></a></li>
        </ul>
    </div>
</div>

<!-- 内容区 -->
<div class="container index-container">
    <div class="index-content">
        <div class="content-wrap">
            <div class="section resc-banner-sec w1100 clearfix">
                <div class="resc-banner-box">
                    <div class="resc-banner-wrap">
                        <ul class="resc-banner fl">
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                            <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                        </ul>
                        <ul class="resc-banner-copy fl"></ul>
                    </div>
                </div>
                <!-- <div class="title-wrap">
                    <div class="con">
                        <p class="tit">黑白也是有趣</p>
                        <p>我们在这里，用最简单的笔触，提笔来描述出一个产品最原始的概念图，他是这样而诞生的。</p>
                        <h2 class="none">宠物插画</h2>
                    </div>
                </div> -->
            </div>
            <div class="section product-sec">
                <div class="product-item w1100 divanimate animated" style="opacity:1;" data-animation="lightSpeedIn">
                    <div class="index-product-box">
                        <div class="product-wrap product-container">
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" data-src="__STATIC__/home/images/t1.png" lazyload="true" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫用专用麻制项圈</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" data-src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫用专用麻制项圈</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" data-src="__STATIC__/home/images/t1.png" lazyload="true" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" data-src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#"><img src="__STATIC__/home/images/t1.png" alt=""></a>
                                <div class="info">
                                    <h3 class="tit clearfix"><a class="fl" href="#">猫砂</a></h3>
                                    <p class="desc-price"><span class="price">¥166.00</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="more-con"><span>ALL &gt;</span></div>
                    </div>
                </div>
            </div>

            <!-- <div class="section company-info-sec">
                <div class="tit fl">
                    <div class="hidden">
                        <a href="#">
                            <img class="img" src="__STATIC__/home/images/mgoi-tit.png" alt="">
                            <img class="high-img" src="__STATIC__/home/images/mgoi-tit-high.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="con hidden">
                    <img src="__STATIC__/home/images/mgoi-info.png" alt="">
                </div>
            </div> -->

            <!--  招聘 -->
            <div class="recruit-sec w1100 hidden">
                <img src="__STATIC__/home/images/recruit@icon.png" alt="">
                <div>招聘：我们正在寻找一名工业设计师</div>
            </div>

            <!-- 公司信息导航 -->
            <!-- 公司信息导航 -->
            <div class="company-nav-sec w1100">
                <ul class="hidden">
                    <li>
                        <div class="name">唔该新闻</div>
                        <a href="javascript:;"><img src="__STATIC__/home/images/news/n1.jpg" alt=""></a>
                        <p class="tit">我们希望的时代，开场了</p>
                        <p class="desc">我们穿上了宠物行业的灵魂，领悟和感受文化创意的生命。</p>
                        <p class="more"><a href="#">了解更多 &gt;</a></p>
                    </li>
                    <li>
                        <div class="name">唔该新闻</div>
                        <a href="javascript:;"><img src="__STATIC__/home/images/news/n2.jpg" alt=""></a>
                        <p class="tit">我们希望的时代，开场了</p>
                        <p class="desc">我们穿上了宠物行业的灵魂，领悟和感受文化创意的生命。</p>
                        <p class="more"><a href="#">了解更多 &gt;</a></p>
                    </li>
                    <li>
                        <div class="name">唔该新闻</div>
                        <a href="javascript:;"><img src="__STATIC__/home/images/news/n3.jpg" alt=""></a>
                        <p class="tit">我们希望的时代，开场了</p>
                        <p class="desc">我们穿上了宠物行业的灵魂，领悟和感受文化创意的生命。</p>
                        <p class="more"><a href="#">了解更多 &gt;</a></p>
                    </li>
                    <li>
                        <div class="name">唔该新闻</div>
                        <a href="javascript:;"><img src="__STATIC__/home/images/news/n4.jpg" alt=""></a>
                        <p class="tit">我们希望的时代，开场了</p>
                        <p class="desc">我们穿上了宠物行业的灵魂，领悟和感受文化创意的生命。</p>
                        <p class="more"><a href="#">了解更多 &gt;</a></p>
                    </li>
                    <li>
                        <div class="name">唔该新闻</div>
                        <a href="javascript:;"><img src="__STATIC__/home/images/news/n1.jpg" alt=""></a>
                        <p class="tit">我们希望的时代，开场了</p>
                        <p class="desc">我们穿上了宠物行业的灵魂，领悟和感受文化创意的生命。</p>
                        <p class="more"><a href="#">了解更多 &gt;</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-sec">
            <div class="contact-wrap">
                <div class="form-box fl">
                    <p>业务联系</p>
                    <div class="form-wrap">
                        <input placeholder="请输入您的邮箱" type="text" name="">
                        <span class="submit-btn">提交</span>
                    </div>
                </div>
                <div class="footer-banner hidden">
                    <div class="tel-wrap fr">
                        <p>T：020 3860 8003</p>
                        <p>E：m3goil@163.com</p>
                    </div>
                    <ul class="share-wrap fr">
                        <li><a href="#"><img src="__STATIC__/home/images/taobao@index.png" alt=""></a></li>
                        <li><a href="#"><img src="__STATIC__/home/images/wxcode@index.png" alt=""></a></li>
                        <li><a href="#"><img src="__STATIC__/home/images/weibo@index.png" alt=""></a></li>
                        <li><a href="#"><img src="__STATIC__/home/images/wx@index.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-line"></div>

<script src="__STATIC__/home/js/jquery-1.10.1.min.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script src="__STATIC__/home/js/lib/antimoderate/preloadjs.min.js"></script>
<script src="__STATIC__/home/js/lib.js"></script>
<script src="__STATIC__/home/js/common.js"></script>
<script src="__STATIC__/home/js/owl.carousel.js"></script>
<script src="__STATIC__/home/js/owl.navigation.js"></script>
<script src="__STATIC__/home/js/owl.autoplay.js"></script>
<script src="__STATIC__/home/js/lazyload.js"></script>
<!-- <script src="js/isScroll.js"></script> -->
<script>

    $(function(){
        // nav收缩展开
        $('.nav-item>a').on('click',function(){
            if (!$('.nav').hasClass('nav-mini')) {
                if ($(this).next().css('display') == "none") {
                    //展开未展开
                    console.log($(this).next('ul'))
                    $(this).parents('.nav').find(".nav-item").children('ul').slideUp(300);
                    $(this).next('ul').slideDown(300);
                    $(this).parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');
                    $(this).find('.nav-more').text('-');
                }else{
                    //收缩已展开
                    $(this).next('ul').slideUp(300);
                    $('.nav-item.nav-show').removeClass('nav-show');
                    $(this).find('.nav-more').text('+');
                }
            }
        });
    });


    function feiy_preloader(imgUrl, handleComplete){
        var queue = new createjs.LoadQueue(false);
        var loadFile = [
            {id: "image", src:imgUrl}
        ];
        queue.on("complete", handleComplete, this);
        queue.loadManifest(loadFile);
    }

    function setBannerPreload(){
        var bigImgDom = $(".main-sec-big-img");
        var smallImg = bigImgDom.data('small-img');
        var bigImg = bigImgDom.data('image-lg');
        var MobileImg = bigImgDom.data('image-xs');
        var imgSrc = '';
        if(!IsPC()){
            imgSrc = MobileImg;
            setBackground({
                dom: bigImgDom,
                src: imgSrc,
                filter: '20px'
            });
        } else {
            imgSrc = bigImg;
            bigImgDom.css({
                'filter': 'blur(20px)'
            })
        }

        feiy_preloader(imgSrc, function(){
            resize();
        })
    }

    function createImg(src){
        var imgDom = new Image();
        imgDom.src = src;
        return imgDom;
    }

    function setBackground(obj){
        obj.dom.css({
            'backgroundImage':'url('+obj.src+')',
            'backgroundSize': 'cover',
            'filter': 'blur('+obj.filter+')'
        });
    }
    setBannerPreload();
    $(window).on('resize',resize);
    function resize(){
        var imgSrc = '',
            imgDom;
        $('.banner-sec .item').each(function(index,item){
            var $this = $(item);
            if(!IsPC()){
                imgSrc = $this.data('image-xs');
                setBackground({
                    dom: $this,
                    src: imgSrc,
                    filter: 0
                });
                imgSrc = '';
                return;
            }

            imgSrc = $this.data('image-lg');
            imgDom = createImg(imgSrc);
            $this.html(imgDom);
            $this.css({
                'filter': 'blur(0)'
            })
        });

    }
</script>
<script>
    $(function(){
        var rescDom = $('.resc-banner');
        var copyDom = $('.resc-banner-copy');
        var wrapDom = $('.resc-banner-wrap');
        scrollBanner(rescDom,copyDom,wrapDom);
        var navDom = $('.nav-banner');
        var navCopyDom = $('.nav-banner-copy');
        var navWrapDom = $('.nav-banner-wrap');
        scrollBanner(navDom,navCopyDom,navWrapDom);

        function scrollBanner(rescDom,copyDom,wrapDom){
            var maxW = rescDom.width();
            var speed = 28,
                num = 0;
            copyDom.html(rescDom.html());
            setInterval(function(){
                num -= 1;
                if(Math.abs(num) >= maxW){
                    num = 0;
                }
                wrapDom.css({
                    left: num
                })
            },speed)
        }

        var time = 2;    //进度条时间，以秒为单位，越小越快
        var $barDom = $(".dots-wrap .dot").eq(0),
            $head, tick,
            curIndex = 0,
            prevTarget = null,
            percentTime = 0,
            isPause = false;
        $head = $('.head-banner')
        $head = $('.head-banner').on("initialized.owl.carousel", function(res) {

            progressBar();
        })
        $head = $('.head-banner').owlCarousel({
            loop: true,
            margin: 4,
            dot: true,
            items: 1,
            smartSpeed: 600
        })

        function progressBar(){
            createBar();
            start();
        }

        function createBar(){
            $barDom = $(".dots-wrap .dot").eq(curIndex);
            $barDom.siblings().find('i').html('');
            $barDom.find('i').html('<span></span>');
        }

        function start(){
            percentTime = 0;
            tick = setInterval(interval, 10);
        }

        function interval(){
            percentTime += 1 / time;
            $barDom.find('span').css({
                width: percentTime+'%'
            });
            if(percentTime >= 100){
                clearInterval(tick)
                console.log(isPause)
                if(isPause == false){
                    $head.trigger('next.owl.carousel')
                }
            }
        }

        $head.on("translated.owl.carousel",function(res) {
            clearInterval(tick)
            curIndex = res.page.index;
            $(".rela-imgs li").eq(curIndex).addClass('active').siblings().removeClass('active');
            if(curIndex >=  res.item.count){
                curIndex = 0;
            }
            progressBar();
        })

        mouseEvent($(".head-banner-wrap"))
        function mouseEvent(dom){
            dom.on('mouseenter',function(){
                isPause = true;
                interval();
            })
            dom.on('mouseleave',function(){
                isPause = false;
                interval();
            });
        }

        var arrowDate = new Date();
        $(".nav-box .prev").on('click', function(){
            if(new Date() - arrowDate > 800){
                $head.trigger('prev.owl.carousel')
                arrowDate = new Date();
            }
        })

        $(".nav-box .next").on('click', function(){
            if(new Date() - arrowDate > 800){
                $head.trigger('next.owl.carousel')
                arrowDate = new Date();
            }
        })




    })


    // $(document).ready(function () {
    //     isScroll.init('.divanimate');
    // });



    $(function(){
        var sildeDom = document.querySelector('.sildeUp');
        var mark = true;
        sildeDom.addEventListener('touchstart',function(){
            var maskDom = this.children[1];
            console.log(this)
            if(mark){
                maskDom.className += ' active';
                mark = false;
            }else{
                maskDom.className = maskDom.getAttribute('class').replace(' active','');
                mark = true;
            }
        })
    })

    $(function(){



        $(".btn-menu").on('click',function(){
            if(!$(this).hasClass('close')){
                $(this).addClass("close");
                $(this).next().removeClass('fadeOutUp')
                $(this).next().show().addClass('swing')
            }else{
                $(this).removeClass("close");
                $(this).next().removeClass('swing')
                $(this).next().addClass('fadeOutUp').hide()
            }
        });
    })
</script>
</body>
</html>