<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>

{include file="public/header-nav" /}
{include file="public/lr-fixed" type="column" /}
<div class="mui-scroll container detail-container">
    <div class="content-wrap">
        <!-- 产品头图 -->
        <div class="text-img-wrap hidden w1100">
            <div class="left-wrap lr">
                <p>{$detailData.update_time}</p>
                <h1>{$detailData.name}</h1>
            </div>
            <div class="right-wrap">
                <img src="{$detailData.mobile_imgs_url[1]}" alt="">
            </div>
        </div>
        <!-- 产品详情 -->
        <div class="detail-wrap w1100">
            <div class="detail-tit-info rl">
                <p class="">{$detailData.introduce}
            </div>
            <div class="detail-con hidden">
                <div class="con-tit">
                    <p>{$detailData.name}</p>
                </div>
                <div class="sec-tit">{$detailData.sub_name}</div>
                <div class="con">
                    {$detailData.content|html_entity_decode=###}
                </div>
            </div>
        </div>
        <!-- 上下篇 -->
        <div class="up-down-page hidden">
            <p class="fl">上一篇：<a href="#">暂无</a></p>
            <p class="fr">下一篇：<a href="#">暂无</a></p>
        </div>
    </div>
    {include file="public/footer" /}
</div>
{include file="public/common" /}

</body>
</html>