<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>

{include file="public/header-nav" /}
{include file="public/lr-fixed" type="column" /}
<div class="mui-scroll container list-container">
    <div class="head-cate-list w1100" style="{if condition='isset($curentCate.img_url[1])'}background:url('{$curentCate.img_url[1]}') no-repeat;{else/}background:url('__STATIC__/home/images/cate-bg.jpg') no-repeat;{/if} background-size: cover;background-position: center;">
        <div class="tit">
            <span>{if condition="$curentCate.name"}{$curentCate.name}{else/}全部专栏{/if}</span>
            <div class="cate-line"><i></i><span>CATEGORY</span></div>
        </div>
        {present name="sonCateData"}
        <div class="section index-cate-sec">
            <ul class="list index-cate-sec-list">
                {volist name="sonCateData" id="data"}
                <li>
                    <a href="/column/list/{$data.id}">
                        <p class="name">{$data.name}</p>
                        <p class="img"><img src="{$data.img_url[0]}" alt=""></p>
                    </a>
                </li>
                {/volist}
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        {/present}
    </div>
    <div class="column-list-wrap">
        {volist name="newsData" id="data"}
        <div class="item">
            <a href="/column/detail/{$data.id}"><img class="column-img" src="{$data.main_img_url[0]}" data-src="{$data.main_img_url[0]}" lazyload="true" alt=""></a>
            <div class="info">
                <h3 class="tit clearfix"><a href="/column/detail/{$data.id}">{$data.name}</a></h3>
                <p class="desc">猫用专用麻猫用专用麻制项圈制项圈猫用专用麻猫用专用麻制项麻猫用专用麻制项圈制项圈</p>
                <p class="author-cate"><span>{$data.author}</span><a href="#">新手养宠</a></p>
            </div>
        </div>
        {/volist}
    </div>
    {include file="public/footer" /}
</div>
{include file="public/common" /}


</body>
</html>