<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>
<!-- 头部导航 -->
{include file="public/header-nav" /}

<!-- 左右固定 -->
{include file="public/lr-fixed" type="news" /}

<!-- 内容区 -->
<div class="container news-list-conatiner">
    <div class="index-content">
        <div class="content-wrap">
            <div class="w1100">
                {volist name="newsData" id="data"}
                <div class="item text-img-wrap">
                    <div class="left-wrap">
                        <div class="inline-block">
                            <h3 class="tit"><a href="/news/detail/{$data.id}">{$data.name}</a></h3>
                            <p class="author"><span>{$data.author}编辑</span></p>
                            <p class="desc">{$data.introduce}</p>
                        </div>
                    </div>
                    <div class="right-wrap">
                        <a href="/news/detail/{$data.id}"><img src="{$data.main_img_url[1]}" alt=""></a>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
        <!-- 底部 -->
        {include file="public/footer" /}
    </div>
</div>
<div class="bottom-line"></div>
<!-- 公共js -->
{include file="public/common" /}
</body>
</html>


