<div id="menuBtnWrap" class="btn-menu">
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="backdropWrap"></div>
<div class="left-line-item"></div>
</div>
<div class="line-wrap">
    <div class="line left lr"></div>
    <div class="line right lr"></div>
    <div class="line top tb"></div>
    <div class="line bottom tb"></div>
</div>
<div class="btn-close">
    <ul>
        <li></li>
        <li></li>
    </ul>
</div>


<script src="__STATIC__/home/js/zepto.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script src="__STATIC__/home/js/lib.js"></script>
<script src="__STATIC__/home/js/common.js"></script>

<script src="__STATIC__/home/js/slideout.js"></script>
<script>

    // nav收缩展开
    $('.nav-item .nav-child-tit').on('click',function(){
        if ($(this).next().css('display') == "none") {
            //展开未展开
            $(this).next().slideDown(100);
            $(this).addClass('active');
        }else{
            //收缩已展开
            $(this).next().slideUp(100);
            $(this).removeClass('active');
        }
    });


    // 左侧导航
    var fontSize = parseInt($("html").css('fontSize').replace('px',''));
    var slideW = 10/750*500*fontSize;
    var slideout = new Slideout({
        'panel': document.getElementById('panel-container'),
        'menu': document.getElementById('menu'),
        'padding': slideW,
        'tolerance': 70,
        'easing': 'cubic-bezier(.32,2,.55,.27)',
        'touch': false
    });

    $('#menuBtnWrap').on('click', function(){
        slideout.toggle();
        $("#menu").show();
    })

    $('.btn-close').on('click', function(){
        slideout.toggle();
    })

    slideout.on('beforeopen', function () {
        $("#backdropWrap").show();
        $("#menuBtnWrap").hide();
    });

    slideout.on('beforeclose', function () {
        $(".btn-close").hide();
        $("#backdropWrap").hide();
        $("#menuBtnWrap").show();
    });

    slideout.on('open', function () {
        $(".btn-close").show();

    });


    $('.index-cate-sec-list>li').on('click',function () {
        slideout.toggle();
        $("#menu").show();
        $("#backdropWrap").show();
        $("#menuBtnWrap").hide();
    })


</script>