<!-- 底部 -->
<div class="footer-sec">
    <div class="contact-wrap">
        <div class="form-box">
            <p>业务联系</p>
            <div class="form-wrap">
                <input placeholder="请输入您的邮箱" type="text" name="">
                <span class="submit-btn">提交</span>
            </div>
        </div>
    </div>
    <div class="link-wrap">
        <ul>
            <li><a href="#" target="_blank">产品</a></li>
            <li><a href="#" target="_blank">关于</a></li>
            <li><a href="#" target="_blank">商城</a></li>
            <li><a href="#" target="_blank">新闻</a></li>
            <li><a href="#" target="_blank">常见问题</a></li>
            <li><a href="#" target="_blank">联系我们</a></li>
        </ul>
        <p class="copyright">©MGOI</p>
    </div>
</div>
</div>
</div>
<script src="__STATIC__/home/js/jquery-1.10.1.min.js"></script>
<script src="__STATIC__/home/js/lib.js"></script>
<script src="__STATIC__/home/js/common.js"></script>
<script src="__STATIC__/home/js/owl.carousel.js"></script>
<script src="__STATIC__/home/js/main.js"></script>