<div class="footer-sec">
    <div class="contact-wrap">
        <div class="form-box fl">
            <p>业务联系</p>
            <div class="form-wrap">
                <input placeholder="请输入您的邮箱" type="text" name="">
                <span class="submit-btn">提交</span>
            </div>
        </div>
        <div class="footer-banner hidden">
            <div class="tel-wrap fr">
                <p>T：020 3860 8003</p>
                <p>E：m3goil@163.com</p>
            </div>
            <ul class="share-wrap fr">
                <li><a href="#"><img src="__STATIC__/home/images/taobao@index.png" alt=""></a></li>
                <li><a href="#"><img src="__STATIC__/home/images/wxcode@index.png" alt=""></a></li>
                <li><a href="#"><img src="__STATIC__/home/images/weibo@index.png" alt=""></a></li>
                <li><a href="#"><img src="__STATIC__/home/images/wx@index.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>