
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>[title]</title>
<link rel="icon" href="__STATIC__/home/images/mgoi.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="__STATIC__/home/images/mgoi.ico" type="image/x-icon" media="screen"/>
<link rel="stylesheet" href="__STATIC__/home/css/reset.css">
<script src="__STATIC__/home/js/flexible.js"></script>
<script src="__STATIC__/home/js/flexible_css.js"></script>
<link rel="stylesheet" href="__STATIC__/home/css/owl.carousel.css">
<link rel="stylesheet" href="__STATIC__/home/css/owl.theme.default.css">
<link media="screen and (max-device-width: 992px)" rel="stylesheet" href="__STATIC__/home/css/mobile-main.css">
<link media="screen and (min-device-width: 992px)" rel="stylesheet" href="__STATIC__/home/css/main.css">
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->

