<div class="header-sec">
    <div class="header-box">
        <div class="logo-wrap">
            <div id="origin"></div>
            <!--<svg id="origin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390 80" style="enable-background:new 0 0 390 78;" xml:space="preserve"></svg>-->
            <svg id="base" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 390 80" style="enable-background:new 0 0 42 56;" xml:space="preserve">
                        <style type="text/css">
                            .st1{fill:#DE4931;}
                            .st2{fill:#4D90C4;}
                            .st3{fill:#FECA12;}
                            .st4{fill:#008755;}
                        </style>
                        <g class="titleWrapper">
                            <path class="staff" d="M272.5,21.8l2.8-1.2c0.9,1.6,1.7,3.1,2.4,4.4l-2.8,1.2C274.3,25,273.5,23.6,272.5,21.8z"/>
                            <path class="staff" d="M291.3,21.9l2.5-1.2c0.8,1.3,1.6,2.7,2.5,4.2l-2.6,1.4C293,24.7,292.2,23.3,291.3,21.9z"/>
                            <path class="staff" d="M84.5,58.2h-3.5h-3.5V21.8H83h5.5L95,50.6h0l6.4-28.8h5.4h5.4v36.3h-3.5h-3.5V27.6h0l-6.7,30.5h-3.7h-3.7
                                L84.5,27h0V58.2z"/>
                            <path class="staff" d="M134.8,38.5h14.9v19.6h-5.7v-4.7l-0.4,0.6c-2.5,3.4-5.9,5.1-10.2,5.1h0c-5.2,0-9.3-1.7-12.3-5.1
                                c-3-3.4-4.6-8-4.6-13.8c0-5.9,1.6-10.6,4.8-14.1c3.2-3.5,7.5-5.2,12.9-5.2c4.3,0,7.9,1.1,10.7,3.3c2.8,2.2,4.4,5.2,4.9,8.9h-7.4
                                c-0.2-1.6-1.1-3-2.6-4.2c-1.6-1.2-3.3-1.8-5.2-1.8c-3.2,0-5.8,1.1-7.6,3.4c-1.8,2.3-2.7,5.4-2.7,9.5c0,4.1,0.9,7.3,2.6,9.4
                                c1.7,2.1,4.3,3.2,7.7,3.2h0c2.9,0,5.1-1.1,6.7-3.4c0.9-1.3,1.5-2.8,2-4.5v-0.1h-8.4V38.5z"/>
                            <path class="staff" d="M158.6,54c-3.1-3.4-4.6-8-4.6-13.8c0-5.9,1.5-10.6,4.6-14.1c3.1-3.5,7.3-5.2,12.5-5.2c5.3,0,9.5,1.7,12.5,5.2
                                s4.6,8.2,4.6,14.1c0,5.8-1.5,10.4-4.6,13.8s-7.3,5.1-12.5,5.1C165.8,59.1,161.7,57.4,158.6,54z M178.2,49.4
                                c1.7-2.2,2.6-5.3,2.6-9.2c0-4-0.9-7.2-2.6-9.4c-1.7-2.3-4.1-3.4-7.1-3.4c-3,0-5.4,1.1-7.1,3.4c-1.7,2.3-2.6,5.4-2.6,9.4
                                c0,3.9,0.9,7,2.6,9.2c1.7,2.2,4.1,3.3,7.1,3.3C174.1,52.7,176.5,51.6,178.2,49.4z"/>
                            <path class="staff" d="M192.3,21.8h3.7h3.7v36.3h-3.7h-3.7V21.8z"/>
                            <path class="staff" d="M226.3,24.7v28h3.3v-4.5h4.1v2.5h3.3v-26H226.3z M233.7,44.9h-4.1V27.9h4.1V44.9z"/>
                            <path class="staff" d="M258.7,37.9v-8.7H250l0.5-4.2h11.8v-3.2H239V25h8.1l-0.5,4.2h-5.6v3.2h5.3l-0.7,5.5H238v3.2h25.7v-3.2H258.7z
                                M255.4,37.9H249l0.7-5.5h5.8V37.9z"/>
                            <path class="staff" d="M241.8,44.3V59h3.3v-2.3h12v1.7h3.3V44.3H241.8z M257.1,53.5h-12v-6h12V53.5z"/>
                            <rect x="268.1" y="27.5" class="staff" width="14.6" height="3.2"/>
                            <path class="staff" d="M281.5,33.4h-11.2c0,0-0.1,3.1,0,3.2c0.1,0.1,11.2,0,11.2,0V33.4z"/>
                            <rect x="270.3" y="39.3" class="staff" width="11.2" height="3.2"/>
                            <path class="staff" d="M269.8,45.3v13.6c0,0,2.8,0.2,2.8,0c0-0.2,0-1.8,0-1.8h6.6v1h2.8V45.3H269.8z M279.2,54.3h-6.6V48h6.6V54.3z"/>
                            <path class="staff" d="M291.5,30.5h-6.7v-3.2h20.1v3.2h-9.5c-1.2,2.3-4.3,6.6-5.1,7.4c1,0.9,2.8,2.7,2.8,2.7c2.2-2,4.3-5.2,5.6-7.4
                                c0.7,0.6,2.5,2,2.5,2c-3,6.8-13,14.8-15.3,15.2c-0.5-0.8-2-3-2-3s4.1-1.7,6.7-4.4c-1.4-1.4-4.6-4.4-6.3-5.5c1-1,2.3-2.3,2.3-2.3
                                l1.3,1L291.5,30.5z"/>
                            <path class="staff" d="M302.2,37.9c-3,6.4-11.1,14.9-19.3,17.9c0.4,1,1.3,3.5,1.3,3.5c5.6-2.9,10.6-6.2,12.3-8.4
                                c2.9,2.8,3.5,3.3,6.1,7.5c1-1.2,2.8-3.5,2.8-3.5s-3.6-4.5-6.6-6.5c0,0,4.8-5.6,5.8-8.5C303.5,38.9,302.2,37.9,302.2,37.9z"/>
                            </g>
                        </svg>
        </div>
        <div class="nav-wrap">
            <div class="btn-menu btn">
                <!-- <a href="javascript:;">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </a> -->
            </div>
            <div class="index-nav-wrap">
                <div class="nav-space"></div>
                <div class="index-nav-item">
                    <ul class="main-nav-ul">
                        {volist name="columnData" id="column"}
                        <li class="sildeUp">
                            {if condition="!is_array($column['children'])"}
                            <a class="active-{$key} {present name="cur_cate_id"}
                            {if condition="$column.id eq $cur_cate_id || $parent_id eq $column.id || ($cur_cate_id eq '0' && $column.id eq 5)"} active{/if}
                            {/present}"

                            href="{if condition='$column.template_id gt 1'}/{:getTemplateView($column.template_id)}/{$column.id}
                            {elseif condition="$column.template_id eq 1"/}/home
                            {else/}{$column.link_url}
                            {/if}"><span>{$column.name}</span>
                            </a>
                            {else/}
                            <a class="sildeUpnav active-{$key} {present name='parent_id'}{if condition='$column.id eq $parent_id'} active{/if}{/present}"><span>{$column.name}</span></a>
                            {/if}

                            {if condition="$column['children'] neq 0"}
                            <div class="mask">
                                <ul>
                                    <?php foreach ($column['children'] as $k => $v):?>
                                    <li><a {present name="cur_cate_id"}{if condition="$v.id eq $cur_cate_id"}class="active"{/if}{/present} href="/{:getTemplateView($v.template_id)}/{$v.id}"><?php echo $v['name']?></a></li>
                                    <?php endforeach;?>
                                </ul>
                            </div>
                            {/if}
                        </li>
                        {/volist}
                    </ul>
                    <div class="nav-banner-sec">
                        <div class="nav-banner-wrap">
                            <ul class="nav-banner fl">
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                                <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                            </ul>
                            <ul class="nav-banner-copy fl"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lr-container">
    <div class="l-content"></div>
    <div class="r-content"></div>
</div>