<div id="offCanvasWrapper" class="mui-off-canvas-wrap">
    <!--侧滑菜单部分-->
    <aside id="offCanvasSide" class="mui-off-canvas-left asider-container">
        <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
            <div class="mui-scroll l-content">
                <div class="l-logo-wrap"></div>
                <div class="nav-box">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell mui-collapse">
                            <a class="mui-navigate-right" href="#">衣料品</a>
                            <div class="mui-collapse-content">
                                <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell mui-collapse">
                            <a class="mui-navigate-right" href="#">衣料品</a>
                            <div class="mui-collapse-content">
                                <div class="child-item"><a href="#" name="b"><span>-</span> 麻棉</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell mui-collapse">
                            <a class="mui-navigate-right" href="#">衣料品</a>
                            <div class="mui-collapse-content">
                                <div class="child-item"><a href="#" name="1"><span>-</span> 麻棉</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell mui-collapse">
                            <a class="mui-navigate-right" href="#">衣料品</a>
                            <div class="mui-collapse-content">
                                <div class="child-item"><a href="#" name="mamian"><span>-</span> 麻棉</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell mui-collapse">
                            <a class="mui-navigate-right" href="#">衣料品</a>
                            <div class="mui-collapse-content">
                                <div class="child-item"><a href="#" name="mamian"><span>-</span> 麻棉</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell mui-collapse">
                            <a class="mui-navigate-right" href="#">衣料品</a>
                            <div class="mui-collapse-content">
                                <div class="child-item"><a href="#" name="mamian"><span>-</span> 麻棉</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                                <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <!--主界面部分-->
    <div class="mui-inner-wrap">
        <div id="" class="mui-content mui-scroll-wrapper">