<div id="offCanvasWrapper" class="mui-off-canvas-wrap">
    <!--侧滑菜单部分-->
    <aside id="offCanvasSide" class="mui-off-canvas-left asider-container">
        <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
            <div class="mui-scroll l-content">
                <div class="l-logo-wrap"></div>
                {present name="$cateData"}
                {volist name="$cateData" id="data" key="k"}
                {if condition="count($data['sub']) eq 0"}
                <div class="nav-box nav-top-wrap">
                    <ul class="block">
                        <li class="nav-item">
                            <a href="/[type]/list/{$data.id}"><span>{$data['name']}</span></a>
                        </li>
                    </ul>
                </div>
                {else/}
                <div class="nav-box">
                    <div class="nav-tit"><span>{$data['name']}</span></div>
                    <ul class="mui-table-view">
                        {volist name="$data['sub']" id="sonData" key="sonk"}
                        {if condition="count($sonData['sub']) eq 0"}
                        <li class="mui-table-view-cell">
                            <span style="display: block;"><a class="child-single-nav" href="/[type]/list/{$sonData.id}">{$sonData.name}</a></span>
                        </li>
                        {else /}
                        <li class="mui-table-view-cell mui-collapse">
                            <span class="mui-navigate-right"><a href="/[type]/list/{$sonData.id}">{$sonData.name}</a></span>
                            <div class="mui-collapse-content">
                                {volist name="$sonData['sub']" id="grandData" key="grandk"}
                                <div class="child-item"><a href="/[type]/list/{$grandData.id}"><span>-</span> {$grandData.name}</a></div>
                                {/volist}
                            </div>
                        </li>
                        {/if}
                        {/volist}
                    </ul>
                </div>
                {/if}
                {/volist}
                {/present}
            </div>
        </div>
    </aside>
    <!--主界面部分-->
    <div class="mui-inner-wrap">
        <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">