<!--侧滑菜单部分-->
<aside id="menu" style="display: none;" class="asider-container">
    <div class="nav-box">
        <div class="box">
            <div class="nav-tit"><span>新手</span></div>
            <ul class="table-view">
                <li class="nav-item">
                    <div class="nav-child-tit active">
                        <a href="#">衣料品</a>
                        <span><i></i><i></i></span>
                    </div>
                    <div class="ul-child">
                        <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-child-tit" id="cate">
                        <a href="#">衣料品</a>
                        <span><i></i><i></i></span>
                    </div>
                    <div class="ul-child">
                        <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-child-tit">
                        <a href="#">衣料品</a>
                        <span><i></i><i></i></span>
                    </div>
                    <div class="ul-child">
                        <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="box">
            <div class="nav-tit"><span>新手</span></div>
            <ul class="table-view">
                <li class="nav-item">
                    <div class="nav-child-tit">
                        <a href="#">衣料品</a>
                        <span><i></i><i></i></span>
                    </div>
                    <div class="ul-child">
                        <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                        <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-child-tit">
                        <a href="#">衣料品</a>
                        <span><i></i><i></i></span>
                    </div>
                    <div class="ul-child">
                        <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-child-tit">
                        <a href="#">衣料品</a>
                        <span><i></i><i></i></span>
                    </div>
                    <div class="ul-child">
                        <div class="child-item"><a href="#" name="a"><span>-</span> 麻棉</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 牛皮</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 羊毛</a></div>
                        <div class="child-item"><a href="#"><span>-</span> 醋酸纤维</a></div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</aside>