<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>
{include file="public/header-nav" /}
{include file="public/lr-fixed" /}
<div class="mui-scroll index-container">
    <div class="head-swiper-container" dir="ltr">
        <div class="swiper-wrapper">
            {volist name="bannerData" id="data"}
            <div class="swiper-slide" style="background: url({$data.img_url[0]});"></div>
            {/volist}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <div class="section theme-sec">
        <ul class="list">
            <li> <a href="#"><img src="__STATIC__/home/images/add/a1.jpg" alt=""></a></li>
            <li> <a href="#"><img src="__STATIC__/home/images/add/a2.jpg" alt=""></a></li>
            <li> <a href="#"><img src="__STATIC__/home/images/add/a3.jpg" alt=""></a></li>
            <li> <a href="#"><img src="__STATIC__/home/images/add/a4.jpg" alt=""></a></li>
        </ul>
    </div>

    <div class="section resc-banner-sec w1100 clearfix">
        <div class="resc-banner-box">
            <div class="resc-banner-wrap">
                <ul class="resc-banner fl">
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/1.png" alt=""></li>
                    <li><img src="__STATIC__/home/images/2.png" alt=""></li>
                </ul>
                <ul class="resc-banner-copy fl"></ul>
            </div>
        </div>
        <!-- <div class="title-wrap">
            <div class="con">
                <p class="tit">黑白也是有趣</p>
                <p>我们在这里，用最简单的笔触，提笔来描述出一个产品最原始的概念图，他是这样而诞生的。</p>
                <h2 class="none">宠物插画</h2>
            </div>
        </div> -->
    </div>

    <div class="section">
        <!-- Swiper -->
        <div class="product-swiper-container resc-product-list-container">
            <h3 class="tit">推荐产品</h3>
            <div class="swiper-wrapper">
                {volist name="resProData" id="data"}
                <div class="swiper-slide">
                    <a href="#"><img src="{$data.main_img_url[0]}" alt=""></a>
                    <div class="info">
                        <p class="tit">{$data.name[0]}</p>
                        <p class="price">¥{$data.price}</p>
                        <p class="buy"><a href="{$data.link_url}">立即购买</a></p>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
        <!-- Swiper -->
        <div class="product-swiper-container resc-product-list-container">
            <h3 class="tit">新品上新</h3>
            <div class="swiper-wrapper">
                {volist name="newsProData" id="data"}
                <div class="swiper-slide">
                    <a href="#"><img src="{$data.main_img_url[0]}" alt=""></a>
                    <div class="info">
                        <p class="tit">{$data.name[0]}</p>
                        <p class="price">¥{$data.price}</p>
                        <p class="buy"><a href="{$data.link_url}">立即购买</a></p>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>

    <!-- 导航 -->
    <div class="section index-cate-sec">
        <ul class="list index-cate-sec-list">
            <li>
                <a href="#mamian">
                    <p class="name">衣料品</p>
                    <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
                </a>
            </li>
            <li>
                <p class="name">衣料品</p>
                <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
            </li>
            <li>
                <p class="name">衣料品</p>
                <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
            </li>
            <li>
                <p class="name">衣料品</p>
                <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
            </li>
            <li>
                <p class="name">衣料品</p>
                <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
            </li>
            <li>
                <p class="name">衣料品</p>
                <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
            </li>
            <li>
                <p class="name">衣料品</p>
                <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
            </li>
            <li>
                <p class="name">衣料品</p>
                <p class="img"><img src="__STATIC__/home/images/head/1.png" alt=""></p>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="section column-sec">
        <ul class="list">
            {volist name="resColumnData" id="data" key="k"}
            {if condition="$k neq 1"}
            <li class="item">
                <a href="#">
                    <img src="{$data.main_img_url[0]}" alt="">
                    <div class="info">
                        <p class="tit">{$data.name}</p>
                        <p class="date">{$data.update_time}</p>
                    </div>
                </a>
            </li>
            {else/}
            <li>
                <a href="#"><img src="{$data.main_img_url[0]}" alt=""></a>
                <div class="info">
                    <a href="#">
                        <p class="tit">{$data.name}</p>
                        <p class="desc">{$data.introduce}</p>
                    </a>
                </div>
            </li>

            {/if}
            {/volist}
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <!--  招聘 -->
    <div class="recruit-sec w1100 hidden">
        <img src="__STATIC__/home/images/recruit@icon.png" alt="">
        <div>招聘：我们正在寻找一名工业设计师</div>
    </div>

    {include file="public/footer" /}
</div>
{include file="public/common" /}

<!--<script src="js/main.js"></script>-->
<!--<script src="js/lib/antimoderate/preloadjs.min.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<!-- <script src="js/banner.js"></script> -->
<script>
    new Swiper('.head-swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
        }
    });

    new Swiper('.resc-product-list-container', {
        slidesPerView: 'auto',
        spaceBetween: 30,
    });

    $(function(){
        var rescDom = $('.resc-banner');
        var copyDom = $('.resc-banner-copy');
        var wrapDom = $('.resc-banner-wrap');
        scrollBanner(rescDom,copyDom,wrapDom);
        var navDom = $('.nav-banner');
        var navCopyDom = $('.nav-banner-copy');
        var navWrapDom = $('.nav-banner-wrap');
        scrollBanner(navDom,navCopyDom,navWrapDom);

        function scrollBanner(rescDom,copyDom,wrapDom){
            var maxW = rescDom.width();
            var speed = 28,
                num = 0;
            copyDom.html(rescDom.html());
            setInterval(function(){
                num -= 1;
                if(Math.abs(num) >= maxW){
                    num = 0;
                }
                wrapDom.css({
                    left: num
                })
            },speed)
        }
    })
</script>


</body>
</html>