<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>
<!-- 头部导航 -->
{include file="public/header-nav" /}

<!-- 左右固定 -->
{include file="public/lr-fixed" type="product" /}

<!-- 内容区 -->
<div class="container product-detail-container detail-container">
    <div class="index-content">
        <div class="content-wrap">
            <!-- 产品头图 -->
            <div class="head-img hidden">
                <!-- 轮播图 -->
                <div class="banner-sec preloader hidden">
                    <div class="w1100">
                        <div class="product-info">
                            <h1 class="tit">{$productData.name[0]}</h1>
                            <p class="attr">{volist name="$productData.prop" id="propData"}{$propData.prop_value} {/volist}</p>
                            <p class="price">¥{$productData.price}</p>
                            <p class="desc">{$productData.introduce}</p>
                            <p class="buy"><a href="{$productData.link_url}">立即购买</a></p>
                        </div>
                        <div class="head-banner-wrap">
                            {if condition="count($productData['imgs_url']) gt 1"}
                            <div class="nav-box">
                                <div class="arrow prev">
                                    <span>
                                        <img class="default" src="__STATIC__/home/images/banner/larrow.png" alt="">
                                        <img class="high none" src="__STATIC__/home/images/banner/larrow@high.png" alt="">
                                    </span>
                                </div>
                                <div class="arrow next">
                                    <span>
                                        <img class="default" src="__STATIC__/home/images/banner/rarrow.png" alt="">
                                        <img class="high none" src="__STATIC__/home/images/banner/rarrow@high.png" alt="">
                                    </span>
                                </div>
                            </div>
                            {/if}
                            <div class="head-banner owl-carousel">
                                {volist name="$productData['imgs_url']" id="img_url" key="k"}
                                <div class="item {if condition='$key eq 0'}main-sec-big-img{/if}" data-small-img="{$img_url}" data-image-xs="{$productData.mobile_imgs_url[$k-1]}" data-image-lg="{$img_url}"></div>
                                {/volist}
                            </div>
                        </div>
                        <div class="dots-wrap">
                            {if condition="count($productData['imgs_url']) gt 1"}
                            {for start="0" end="count($productData['imgs_url'])"}
                                <div class="dot"><i></i></div>
                            {/for}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 产品详情 -->
            <div class="detail-wrap w1100">
                <div class="detail-tit-info fl">
                    <p class="rl">{$productData.slogan|html_entity_decode=###}</p>
                </div>
                <div class="detail-con hidden">
                    <div class="con-tit">
                        <p>{$productData.name[0]}</p>
                        <p>{present name="$productData.name[1]"}{/present}</p>
                    </div>
                    <div class="sec-tit">{$productData.name_desc}</div>
                    <div class="con">
                        {$productData.content|html_entity_decode=###}
                    </div>
                </div>
            </div>

            <!-- 相关推荐 -->
            <div class="product-resc-wrap w1100">
                <h2 class="resc-tit">最受欢迎的礼品</h2>
                <div class="product-resc-banner product-container owl-carousel">
                    {volist name="rescData" id="data"}
                    <div class="item">
                        <a href="/product/detail/{$data.id}"><img src="{$data.main_img_url[0]}" alt=""></a>
                        <div class="info">
                            <h3 class="tit clearfix"><a class="fl" href="#">{$data.name[0]}</a></h3>
                            <p class="desc-price"><span class="price">¥{$data.price}</span></p>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
        {include file="public/footer" /}
    </div>
</div>
<div class="bottom-line"></div>
{include file="public/script" /}
<script>
    var dpr992 = dpr*992;
    var dpr1200 = dpr*1200;
    $('.product-resc-banner').owlCarousel({
        loop:true,
        margin:30,
        nav: true,
        responsiveClass:true,
        responsive:{
            0:{
                items:3,
            },
            [dpr992]:{
                items:5,
            },
            [dpr1200]:{
                items:5,
                loop:true
            }
        }
    });
</script>
</body>
</html>