<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>

{include file="public/header-nav" /}
{include file="public/lr-fixed" type="product" /}
<div class="mui-scroll container product-detail-container">
    <div class="thumbs-wrap">
        <!-- Swiper -->
        <div class="detail-swiper-container gallery-top">
            <div class="swiper-wrapper">
                {volist name="$productData['mobile_imgs_url']" id="img_url" key="k"}
                <div class="swiper-slide" style="background-image:url('{$img_url}')"></div>
                {/volist}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="detail-swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                {volist name="$productData['mobile_imgs_url']" id="img_url" key="k"}
                <div class="swiper-slide" style="background-image:url('{$img_url}')"></div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="detail-content">
        <div class="product-info">
            <h1 class="tit">{$productData.name[0]}</h1>
            <p class="price">¥{$productData.price}</p>
            <ul class="attr-wrap">
                <li>商品名称：宠物自循环活氧饮水器</li>
                <li>产品型号：YX-QSQ-01A</li>
                <li>额定电压：5V 直流</li>
            </ul>
            <p class="buy"><a href="{$productData.link_url}">立即购买</a></p>
        </div>
        <div class="product-content">
            <h2 class="detail-tit"><span>商品详情</span></h2>
            <div class="con">
                <h3 class="con-tit">商品故事</h3>
                <div class="story-wrap">
                    {$productData.content|html_entity_decode=###}
                </div>
                <div class="imgs-con">
                    <!--<img src="/images/1.jpg" alt="">-->
                </div>
            </div>
        </div>

    </div>
    <!-- Swiper -->
    <div class="product-swiper-container resc-product-list-container">
        <h3 class="tit">推荐产品</h3>
        <div class="swiper-wrapper">
            {volist name="rescData" id="data"}
            <div class="swiper-slide">
                <a href="#"><img src="{$data.main_img_url[0]}" alt=""></a>
                <div class="info">
                    <p class="tit">{$data.name[0]}</p>
                    <p class="price">¥{$data.price}</p>
                    <p class="buy"><a href="{$data.link_url}">立即购买</a></p>
                </div>
            </div>
            {/volist}
        </div>
    </div>

    <!-- 导航 -->
    <!--<div class="section index-cate-sec">-->
        <!--<h2>唔该商店&商品</h2>-->
        <!--<div class="label"><span>CATEGOFY</span></div>-->
        <!--<ul class="list index-cate-sec-list">-->
            <!--<li>-->
                <!--<a href="#mamian">-->
                    <!--<p class="name">衣料品</p>-->
                    <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="name">衣料品</p>-->
                <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="name">衣料品</p>-->
                <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="name">衣料品</p>-->
                <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="name">衣料品</p>-->
                <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="name">衣料品</p>-->
                <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="name">衣料品</p>-->
                <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="name">衣料品</p>-->
                <!--<p class="img"><img src="./images/head/1.png" alt=""></p>-->
            <!--</li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</div>-->
    {include file="public/footer" /}
</div>
{include file="public/common" /}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 5,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 5,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });

    new Swiper('.resc-product-list-container', {
        slidesPerView: 'auto',
        spaceBetween: 30,
    });

</script>

</body>
</html>