<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {include file="public/head" /}
</head>
<body>
    {include file="public/header-nav" /}
    <div class="container product-container">
        <div class="index-content">
            <div class="product-detail-wrap">
                <div class="product-detail-box">
                    <div class="item product-img-wrap">
                        <div class="imgs-wrap owl-carousel">
                            {volist name="productData['imgs_url']" id="img_url"}
                            <div class="item" data-dot="<div style='background-image:url({$img_url})'>" style="background-image:url('{$img_url}');"></div>
                            {/volist}
                        </div>
                        <ul class="custom-dots">
                            {volist name="productData['imgs_url']" id="img_url" key="k"}
                            <li {if condition="$k eq 1"} class="active"{/if}></li>
                            {/volist}
                        </ul>
                        <div class="detail-nav-container">
                            <div class="detail-nav-wrap">
                                <div class="switch-nav">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item product-info-wrap">
                        <h1 class="h1-tit">{$productData.name}</h1>
                        <div class="price">¥16.00</div>
                        <div class="line"></div>
                        <div class="detail">
                            <div class="con">
                                {$productData.slogan|html_entity_decode=###}
                            </div>
                        </div>
                        <div class="product-property-box">
                            <ul class="clearfix">
                                {volist name="$productData.prop" id="propData"}
                                <li>
                                    <div>
                                        <p class="tit">{$propData.prop_name}：</p>
                                        <p class="desc">{$propData.prop_value}</p>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        <div class="buy-btn-wrap clearfix">
                            <a href="{$productData.link_url}" target="_blank" class="buy-btn">立即购买</a>
                        </div>
                        <div class="wx-code-wrap">
                            <div class="img-box"><img src="{$productData.code_img[0]}" alt=""></div>
                            <div class="text">
                                <p>微信扫一扫</p>
                                <p>小程序购买</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-resc-wrap">
                <div class="w1100">
                    <h2 class="resc-tit">其他用户也看</h2>
                    <div class="banner-wrap product-resc-banner owl-carousel">
                        {volist name="rescData" id="data"}
                        <div class="item">
                            <a href="#"><img src="{$data.main_img_url[0]}" alt=""></a>
                            <div class="info">
                                <h3 class="tit clearfix"><a class="fl" href="#">{$data.name}</a></h3>
                                <p class="desc-price"><span class="desc">{$data.introduce}</span><span class="price fr">¥{$data.price}</span></p>
                            </div>
                        </div>
                        {/volist}

                    </div>
                </div>
            </div>
    {include file="public/footer" /}
        <script>
            var dpr992 = dpr*992;
            var dpr1200 = dpr*1200;
            var owl = $('.imgs-wrap').owlCarousel({
                items: 1,
                loop:true,
                margin:20,
                dots: true,
                dotsData: true,
                dotsContainer: '.switch-nav'
            })
            owl.on('changed.owl.carousel', function(event) {
                var params = event.page;
                $('.custom-dots li').removeClass('active').eq(params.index).addClass('active');
            })
            $('.product-resc-banner').owlCarousel({
                loop:true,
                margin:20,
                nav: true,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:3,
                    },
                    [dpr992]:{
                        items:5,
                    },
                    [dpr1200]:{
                        items:5,
                        loop:true
                    }
                }
            });




        </script>
</body>
</html>