<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>
<!-- 头部导航 -->
{include file="public/header-nav" /}

<!-- 左右固定 -->
{include file="public/lr-fixed" type="product" /}
<!-- 内容区 -->
<div class="container product-list-container">
    <div class="index-content">
        <div class="content-wrap">
            <div class="head-cate-list w1100" style="background:url('{$curentCate.img_url}') no-repeat; background-size:cover; ">
                <div class="tit"><i class="fl"></i><i class="fr"></i><span>{$curentCate.name}</span></div>
                <ul class="hidden">
                    {volist name="sonCateData" id="data"}
                    <li>
                        <p class="name"><a href="#">{$data.name}</a></p>
                        <p class="img"><a href="#"><img src="{$data.img_url}"></a></p>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="product-list">
                <div class="product-wrap product-container w1100">
                    {volist name="productsData" id="data"}
                    <div class="item">
                        <a href="/product/detail/{$data.id}" class="fl"><img class="product-img" src="{$data.main_img_url[0]}" data-src="images/t1.png" lazyload="true" alt=""></a>
                        <div class="info">
                            <h3 class="tit clearfix"><a class="fl" href="/product/detail/{$data.id}">{$data.name[0]}</a></h3>
                            <p class="attr">黑、白、黄、绿</p>
                            <p class="price">¥{$data.price}</p>
                            <p class="desc">{$data.introduce}</p>
                            <p class="buy"><a href="{$data.link_url}">立即购买</a></p>
                        </div>
                        <div class="wxcode">
                            <img src="{$data.code_img[0]}" alt="">
                            <p>微信扫一扫</p>
                            <p>手机购买</p>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
        {include file="public/footer" /}
    </div>
</div>
<div class="bottom-line"></div>

</body>
</html>