<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/head" title="$title" /}
</head>
<body>

{include file="public/header-nav" /}
{include file="public/lr-fixed" type="product" /}
<!--主界面部分-->
<div id="panel-container" class="container detail-container about-container">
    <div class="content-wrap">
        <!-- 产品头图 -->
        <div class="text-img-wrap hidden w1100">
            <div class="left-wrap lr">
                <h1>唔该</h1>
            </div>
            <div class="right-wrap">
                <img src="__STATIC__/home/images/a2.jpg" alt="">
            </div>
        </div>
        <!-- 产品详情 -->
        <div class="detail-wrap w1100">
            <div class="detail-tit-info fl">
                <p class="rl">在粤语中唔该是最常用的礼貌用语，不仅有感谢的意思，在服务行业，更是被广泛使用</p>
            </div>
            <div class="detail-con hidden">
                <div class="con-tit">
                    <p>唔该</p>
                    <p>你是他的唯一</p>
                </div>
                <div class="sec-tit">要好好照顾他哦</div>
                <div class="con">
                    <p>唔，是一种声音，有你、我之意<br/>该，是一种约定，有完备之意</p>
                    <p>在粤语中唔该是最常用的礼貌用语，不仅有感谢的意思，在服务行业，更是被广泛使用，说的是自己服务质量的“不完备”还是一种做事情的态度</p>
                    <p>取名唔该意在表达“唔该”在服务过程中怎么做都无法表达您对宠物热爱的一份感激</p>
                </div>
            </div>

        </div>
        <div class="column-list-wrap news-list-wrap">
            <h2 class="tit">企业新闻</h2>
            <div class="item-wrap">
                {volist name="newsData" id="data"}
                <div class="item hover-class">
                    <a href="/news/detail/{$data.id}"><img class="column-img" src="{$data.mobile_imgs_url[0]}" data-src="{$data.mobile_imgs_url[0]}" lazyload="true" alt=""></a>
                    <div class="info">
                        <h3 class="tit clearfix"><a href="/news/detail/{$data.id}">{$data.name}</a></h3>
                        <p class="author-cate"><span>{$data.author}编辑</span></p>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
        <div class="contact-address">
            <h2 class="tit">联系方式</h2>
            <div class="w1100">
                <div class="map-wrap">
                    <div id="allmap"></div>
                </div>
                <div class="info-wrap">
                    <ul>
                        <li>地址：<span>广州市南沙区丰泽东路106号</span></li>
                        <li>电话：<span>020-38608033</span></li>
                        <li>邮箱：<span>m3goi1@163.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {include file="public/footer" /}
    {include file="public/common" /}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0wEz61xb7uFphoffxcDd9anzzTyyKlp7"></script>
<script>
    var fdata = {
        baiduGpsLat: '113.2719437397',
        baiduGpsLog: '23.1059797775',
        name: '大误',
        address: '广东省广州市海珠区海幢街道仁厚直社区'
    };
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(fdata.baiduGpsLat, fdata.baiduGpsLog);
    map.centerAndZoom(point, 15);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);               // 将标注添加到地图中
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    map.addEventListener("click", function(){
        openClient();
    });
    map.enableScrollWheelZoom(true);


    var baiduConfig = {
        scheme_Android: 'bdapp://map/marker?location='+fdata.baiduGpsLat+','+fdata.baiduGpsLog+'&title='+fdata.name+'&content='+fdata.address,
        scheme_IOS: 'baidumap://map/marker?location='+fdata.baiduGpsLat+','+fdata.baiduGpsLog+'&title='+fdata.name+'&content='+fdata.address,
        scheme_web: 'http://api.map.baidu.com/marker?location='+fdata.baiduGpsLat+','+fdata.baiduGpsLog+'&title='+fdata.name+'&content='+fdata.address+'&output=html'
    };
    var timeout = 600;
    // 判断操作系统，返回百度的不同操作系统下的接口
    function adjustOS(){
        var ua = window.navigator.userAgent.toLowerCase();
        return (ua.indexOf('os') > 0) ? baiduConfig.scheme_IOS : baiduConfig.scheme_Android
    }
    function openClient() {
        var startTime = Date.now();
        var ifr = document.createElement('iframe');
        ifr.src = adjustOS();
        ifr.style.display = 'none';
        document.body.appendChild(ifr);
        var t = setTimeout(function() {
            var endTime = Date.now();
            if (!startTime || endTime - startTime < timeout + 200) {
                window.location.href = baiduConfig.scheme_web;
            }
        }, timeout);
        window.onblur = function() {
            clearTimeout(t);
        }
    }

</script>
</body>
</html>