<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {include file="public/head" /}
</head>
<body>
    {include file="public/header-nav" /}
    <div class="container contact-container">
        <div class="index-content">
            <div class="video-about">
                <div class="about-wrap">
                    <ul>
                        <li>
                            <h2 class="h2-tit fl">关于唔该</h2>
                            <div class="con">
                                <p>“唔该”就等于“不应该”吗？钻进故纸堆中，我发现，古人所说的“该”原来并没有“应该”的意义。譬如左思《吴都赋》中的一句，“耳目之所不该”，应译成“耳目所不能包括的”。古语“该”通“赅”，意为具备、完备、包括。《说文解字》释“该”道：“军中约也。”这又把它的使用情况界定在军队内。作为语言发展的一种结果，“该”的派生义“应该”已成为今日使用中的主要义，而渐被人忘却的基本义则转由“赅”去承担（成语有“言简意赅”）。 </p>
                            </div>
                        </li>
                        <li>
                            <h2 class="h2-tit fl">唔该使命</h2>
                            <div class="con">
                                <p>“唔该”开始用的时候，表示“不该”，还没有“感谢”等意。在后来的演变中“唔该”成为了“麻烦您真不应该”的简略表达形式。</p>
                            </div>
                        </li>
                        <li>
                            <h2 class="h2-tit fl">唔该愿景</h2>
                            <div class="con">
                                <p>“唔该”开始用的时候，表示“不该”，还没有“感谢”等意。在后来的演变中“唔该”成为了“麻烦您真不应该”的简略表达形式。</p>
                            </div>
                        </li>
                    </ul>
                    <img class="logo-img" src="__STATIC__/home/images/logo.png">
                </div>
                <div class="video-wrap" style="background: url('__STATIC__/home/images/cantact.png') no-repeat center center; background-size:cover;"></div>

            </div>
            <div class="content-wrap">

                <div class="color-block share-wrap">
                    <ul>
                        <li class="item item1">
                            <div class="forward-wrap">
                                <img class="img" src="__STATIC__/home/images/share/red@high.png">
                            </div>
                            <div class="mask-con">
                                <span>点击进入</span>
                            </div>
                            <!-- <div class="code-wrap">
                                <img src="images/share/red@high.png">
                            </div> -->
                        </li>
                        <li class="item item2">
                            <div class="forward-wrap">
                                <img class="img" src="__STATIC__/home/images/share/mini@high.png">
                            </div>
                            <div class="mask-con">
                                <img src="__STATIC__/home/images/wxcode.png">
                            </div>
                            <!-- <div class="code-wrap">
                                <img src="images/share/mini@high.png">
                            </div> -->
                        </li>
                        <li class="item item3">
                            <div class="forward-wrap">
                                <img class="img" src="__STATIC__/home/images/share/taobao@high.png">
                            </div>
                            <div class="mask-con">
                                <span>点击进入</span>
                            </div>
                            <!-- <div class="code-wrap">
                                <img src="images/share/taobao@high.png">
                            </div> -->
                        </li>
                        <li class="item item4">
                            <div class="forward-wrap">
                                <img class="img" src="__STATIC__/home/images/share/weibo@high.png">
                            </div>
                            <div class="mask-con">
                                <span>点击进入</span>
                            </div>
                            <!-- <div class="code-wrap">
                                <img src="images/share/weibo@high.png">
                            </div> -->
                        </li>
                        <li class="item item5">
                            <div class="forward-wrap">
                                <img class="img" src="__STATIC__/home/images/share/wx@high.png">
                            </div>
                            <div class="mask-con">
                                <img src="__STATIC__/home/images/wxcode.png">
                            </div>
                            <!-- <div class="code-wrap">
                                <img src="images/share/wx@high.png">
                            </div> -->
                        </li>
                        <li class="item item6">
                            <div class="forward-wrap">
                                <img class="img" src="__STATIC__/home/images/logo.png">
                            </div>
                            <!-- <div class="code-wrap">
                                <img src="images/logo.png">
                            </div> -->
                        </li>
                    </ul>
                </div>

                <div class="contact-address">
                    <div class="w1100">
                        <div class="info-wrap">
                            <ul>
                                <li>地址：广州市南沙区丰泽东路106号</li>
                                <li>电话：020-38608033</li>
                                <li>邮箱：m3goi1@163.com</li>
                            </ul>
                        </div>

                        <div class="map-wrap">
                            <div id="allmap"></div>
                        </div>
                    </div>
                </div>

            </div>

    {include file="public/footer" /}
 <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0wEz61xb7uFphoffxcDd9anzzTyyKlp7"></script>
<script>
     var fdata = {
         baiduGpsLat: '113.2719437397',
         baiduGpsLog: '23.1059797775',
         name: '大误',
         address: '广东省广州市海珠区海幢街道仁厚直社区'
     };
     // 百度地图API功能
     var map = new BMap.Map("allmap");
     var point = new BMap.Point(fdata.baiduGpsLat, fdata.baiduGpsLog);
     map.centerAndZoom(point, 15);
     var marker = new BMap.Marker(point);  // 创建标注
     map.addOverlay(marker);               // 将标注添加到地图中
     marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
     map.addEventListener("click", function(){
         openClient();
     });
     map.enableScrollWheelZoom(true);


     var baiduConfig = {
         scheme_Android: 'bdapp://map/marker?location='+fdata.baiduGpsLat+','+fdata.baiduGpsLog+'&title='+fdata.name+'&content='+fdata.address,
         scheme_IOS: 'baidumap://map/marker?location='+fdata.baiduGpsLat+','+fdata.baiduGpsLog+'&title='+fdata.name+'&content='+fdata.address,
         scheme_web: 'http://api.map.baidu.com/marker?location='+fdata.baiduGpsLat+','+fdata.baiduGpsLog+'&title='+fdata.name+'&content='+fdata.address+'&output=html'
     };
     var timeout = 600;
     // 判断操作系统，返回百度的不同操作系统下的接口
     function adjustOS(){
         var ua = window.navigator.userAgent.toLowerCase();
         return (ua.indexOf('os') > 0) ? baiduConfig.scheme_IOS : baiduConfig.scheme_Android
     }
     function openClient() {
         var startTime = Date.now();
         var ifr = document.createElement('iframe');
         ifr.src = adjustOS();
         ifr.style.display = 'none';
         document.body.appendChild(ifr);
         var t = setTimeout(function() {
             var endTime = Date.now();
             if (!startTime || endTime - startTime < timeout + 200) {
                 window.location.href = baiduConfig.scheme_web;
             }
         }, timeout);
         window.onblur = function() {
             clearTimeout(t);
         }
     }


    $(function(){

        $(window).on('resize',resize).trigger('resize');

        function resize(){
            sizeHeight();
        }
        // 首屏进行全屏显示
        function sizeHeight(){
            var windowHeight = $(window).height(),
                logo_h = $('.logo-wrap').height(),
                setH = windowHeight - logo_h;
            setHeight.call($('.index-nav-item'),setH,12);
        }

        function setHeight(height, margin){
            this.height(height - margin);
        }

    })



</script>
</html>