.fl {
  float: left;
}
.fr {
  float: right;
}
html,
body {
  height: 100%;
  font-size: 14px;
}
.w1100 {
  padding-left: 6.8%;
  padding-right: 6.8%;
}
.w843 {
  width: 843px;
  margin: 0 auto;
}
#base {
  width: 100%;
}
.bottom-line {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 4px;
  background-color: #000000;
}
.line {
  height: 1px;
  background-color: #000000;
}
.line.line-bold {
  height: 4px;
}
.content-wrap {
  overflow: hidden;
}
.index-content,
.banner-sec,
.resc-banner-sec {
  padding: 0 5% 0 18%;
}
.lr-container > div {
  position: fixed;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lr-container .l-content {
  width: 18%;
  padding: 25px 2%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  border-left: 4px solid #000000;
  border-right: 2px solid #000000;
}
.lr-container .r-content {
  width: 5%;
  right: 0;
  border-left: 2px solid #000000;
  border-right: 4px solid #000000;
}
.lr-container img {
  width: 100%;
}
.nav-top {
  height: 10px;
  border-bottom: 1px solid #000;
  font-size: 16px;
  margin: 10px 0 12px;
}
.nav-top a {
  background-color: #fff;
  padding-right: 18px;
  font-weight: bold;
}
.single-nav-top a {
  display: block;
}
.nav-top-wrap .nav-item a {
  padding: 0;
}
/* nav */
.nav {
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.nav-item a {
  display: block;
  overflow: hidden;
  line-height: 28px;
  max-height: 28px;
  color: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.nav-item {
  position: relative;
}
.nav-item > a {
  padding: 0 10px;
}
.nav-item > a i {
  font-size: 16px;
}
.nav-item.nav-show {
  border-bottom: none;
}
.nav-item ul {
  display: none;
}
.nav-item ul li a {
  margin-left: 10px;
}
.nav-item.nav-show ul {
  display: block;
}
.nav .nav-icon {
  font-size: 20px;
  position: absolute;
  margin-left: -1px;
}
/* 此处修改导航图标 可自定义iconfont 替换*/
/*---------------------*/
.nav-more {
  float: right;
  font-size: 12px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.nav-item > a:hover {
  color: #FFF;
  background: #e84466;
}
.nav-show > a {
  color: #FFF;
  background: #e84466;
}
.nav-show > a:before,
.nav-item > a:hover:before {
  opacity: 1;
}
.nav-item li:hover a {
  color: #e84466;
  font-weight: bold;
}
/* nav-mini */
.nav-mini.nav {
  width: 60px;
}
.nav-mini.nav .nav-item > a span {
  display: none;
}
.nav-mini.nav .nav-more {
  margin-right: -20px;
}
.nav-mini.nav .nav-item ul {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 180px;
  z-index: 99;
  overflow: hidden;
}
.nav-mini.nav .nav-item:hover {
  background: #e84466;
}
.nav-mini.nav .nav-item:hover .nav-item a {
  color: #FFF;
}
.nav-mini.nav .nav-item:hover a:before {
  opacity: 1;
}
.nav-mini.nav .nav-item:hover ul {
  display: block;
}
.index-content,
.index-nav-wrap,
.nav-space {
  height: inherit;
}
.active-0.active {
  color: #4D90C4;
}
.sildeUpnav + .mask .active {
  color: #FECA12;
}
.active-2.active {
  color: #DE4931;
}
.header-sec {
  height: 10%;
  min-height: 80px;
}
.logo-wrap,
#base {
  height: 100%;
  vertical-align: super;
}
.header-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: 10%;
  min-height: 80px;
  border: 4px solid #000000;
  border-bottom-width: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
.nav-wrap {
  float: right;
  height: 100%;
  margin-right: 5%;
  position: relative;
  z-index: 2;
}
.nav-wrap .hamRotate {
  display: none;
}
.logo-wrap {
  float: left;
  position: relative;
  z-index: 10;
  font-size: 62px;
  font-weight: bold;
  background-color: #fff;
}
.nav-space {
  display: inline-block;
  vertical-align: bottom;
}
.index-nav-item {
  display: inline-block;
  vertical-align: bottom;
}
.index-nav-item ul.main-nav-ul {
  overflow: hidden;
}
.index-nav-item .main-nav-ul > li {
  float: left;
  font-size: 0;
  margin-right: -25px;
}
.index-nav-item .main-nav-ul > li > a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 12px 25px;
  text-align: center;
}
.index-nav-item .main-nav-ul > li > a span {
  display: inline-block;
  cursor: pointer;
}
.index-nav-item .main-nav-ul > li:hover .active-0 {
  color: #4d90c4;
}
.index-nav-item .main-nav-ul > li:hover .sildeUpnav {
  color: #fecb12;
}
.index-nav-item .main-nav-ul > li:hover .active-2 {
  color: #008755;
}
.index-nav-item .main-nav-ul > li:hover .active-3 {
  color: #dd4a31;
}
.banner-sec {
  min-height: 200px;
}
.banner-sec .dots-wrap {
  height: 25px;
}
.banner-sec .owl-dots {
  text-align: center;
  font-size: 0;
  margin-top: 20px;
}
.banner-sec .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #b5b5b5;
}
.banner-sec .owl-dots .owl-dot.active {
  background-color: #fff;
}
.banner-sec .head-banner .owl-item,
.banner-sec .head-banner .owl-stage,
.banner-sec .head-banner .item {
  height: 100%;
}
.banner-sec .head-banner .item {
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-sec .head-banner .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
/* 产品公共 start */
.index-product-wrap {
  position: relative;
  min-height: 240px;
}
.banner-wrap {
  position: relative;
  overflow: hidden;
  margin-right: -60px;
}
.banner-wrap .item {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 60px 20px 0;
}
.banner-wrap .item img {
  width: 100%;
}
.banner-wrap .item .tit {
  padding-top: 10px;
  font-weight: bold;
}
.banner-wrap .item .desc-price {
  padding: 3px 0 10px;
  font-size: 12px;
}
.banner-wrap .item .desc-price .desc {
  line-height: 22px;
}
.banner-wrap .item .desc-price .price {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  color: #dd4a31;
  font-weight: bold;
}
/* 插画 */
.resc-banner-sec {
  font-size: 0;
  overflow: hidden;
}
.resc-banner-sec .title-wrap {
  height: inherit;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 6.8%;
  margin-bottom: 25px;
}
.resc-banner-sec .title-wrap .con {
  display: inline-block;
  text-align: left;
}
.resc-banner-sec .title-wrap .con p {
  font-family: '宋体';
  line-height: 1.5;
}
.resc-banner-sec .title-wrap .tit {
  font-size: 16px;
}
.resc-banner-sec .resc-banner-box {
  position: relative;
  height: 105px;
  padding: 0 55px;
  overflow: hidden;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}
.resc-banner-sec .resc-banner-wrap {
  position: absolute;
  left: 0;
  width: 1000%;
  overflow: hidden;
}
.resc-banner-sec .resc-banner-wrap:hover {
  opacity: 0.5;
}
.resc-banner-sec ul {
  float: left;
}
.resc-banner-sec li {
  display: inline-block;
  margin: 0 20px;
}
.resc-banner-sec li img {
  height: 105px;
}
/* 产品公共 end */
.content-wrap {
  /*产品*/
}
.content-wrap .product-item {
  padding-top: 35px;
  padding-bottom: 35px;
}
.content-wrap .product-item .nav {
  text-align: center;
}
.content-wrap .product-item .nav span {
  display: inline-block;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 48px;
  margin-bottom: 42px;
  background-color: #4d90c4;
  color: #fff;
}
.content-wrap .product-sec > .item:nth-child(1) {
  background-color: #4d90c4;
  color: #fff;
}
.content-wrap .product-sec > .item:nth-child(1) .product-item {
  border-bottom: 1px solid #000000;
}
.content-wrap .product-sec > .item:nth-child(1) .nav span {
  background-color: #fff;
  color: #4d90c4;
}
.content-wrap .product-sec > .item:nth-child(1) h3 a {
  color: #fff;
}
.content-wrap .product-sec > .item:nth-child(1) .price {
  background-color: #fff;
  color: #4d90c4;
}
.content-wrap .more-con {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-weight: bold;
  font-size: 14px;
}
.content-wrap .product-sec {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}
.content-wrap .company-info-sec {
  height: 300px;
  border-bottom: 1px solid #000000;
  font-family: '宋体';
}
.content-wrap .company-info-sec > div {
  height: inherit;
}
.content-wrap .company-info-sec .tit {
  width: 27%;
  padding-left: 6.8%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.content-wrap .company-info-sec .tit:hover {
  background-color: #f2e9df;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.content-wrap .company-info-sec .tit:hover .img {
  display: none;
}
.content-wrap .company-info-sec .tit:hover .high-img {
  display: block;
}
.content-wrap .company-info-sec .tit:hover + .con {
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.content-wrap .company-info-sec .tit::after {
  content: '';
  display: inline-block;
  height: inherit;
  vertical-align: middle;
}
.content-wrap .company-info-sec .tit > div {
  display: inline-block;
  vertical-align: middle;
}
.content-wrap .company-info-sec .tit > div img {
  width: 60%;
}
.content-wrap .company-info-sec .tit > div .img {
  display: block;
}
.content-wrap .company-info-sec .tit > div .high-img {
  display: none;
}
.content-wrap .company-info-sec .tit .desc {
  letter-spacing: 0.1em;
  line-height: 1.4;
  margin-right: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-font-feature-settings: 'vpal';
  -ms-font-feature-settings: 'vpal';
  -o-font-feature-settings: 'vpal';
  font-feature-settings: 'vpal';
}
.content-wrap .company-info-sec .tit h2 {
  width: 36px;
  font-size: 36px;
  overflow: hidden;
  font-weight: bold;
}
.content-wrap .company-info-sec .con {
  background-color: #f2e9df;
  text-align: center;
  font-weight: bold;
}
.content-wrap .company-info-sec .con::after {
  content: '';
  display: inline-block;
  height: inherit;
  vertical-align: middle;
}
.content-wrap .company-nav-sec {
  padding: 55px 6.8% 0;
  border-bottom: 1px solid #000000;
}
.content-wrap .company-nav-sec ul {
  margin-right: -2%;
}
.content-wrap .company-nav-sec li {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2% 50px 0;
}
.content-wrap .company-nav-sec li .name {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.content-wrap .company-nav-sec li img {
  width: 100%;
}
.content-wrap .company-nav-sec li .tit {
  margin: 10px 0 6px;
}
.content-wrap .company-nav-sec li .desc {
  color: #666;
  font-size: 12px;
  line-height: 1.4;
}
.content-wrap .company-nav-sec li .more {
  margin-top: 15px;
  font-size: 12px;
}
.footer-sec {
  background-color: #ccc;
}
.contact-wrap {
  background-color: #fff;
}
.contact-wrap .form-box {
  display: inline-block;
  width: 50%;
  padding: 30px 6.8% 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-wrap .form-box > p {
  font-size: 20px;
}
.contact-wrap .form-box .form-wrap {
  margin-top: 10px;
  font-size: 0;
}
.contact-wrap .form-box .form-wrap .submit-btn {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0 28px;
  margin-left: 5px;
  font-size: 16px;
  background-color: #e44767;
  color: #fff;
  vertical-align: middle;
}
.contact-wrap .form-box .form-wrap input {
  width: 275px;
  height: 38px;
  border: 0;
  font-size: 14px;
  text-indent: 1em;
  vertical-align: middle;
  background-color: #eee;
}
.contact-wrap .footer-banner {
  height: 210px;
  border-left: 1px solid #000000;
  overflow: hidden;
  padding: 56px 0 0 6.8%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-wrap .footer-banner .tel-wrap {
  padding-top: 8px;
}
.contact-wrap .footer-banner .share-wrap {
  overflow: hidden;
}
.contact-wrap .footer-banner li {
  float: left;
  width: 50px;
  height: 50px;
  background: red;
  margin: 0 10px;
}
.h2-tit {
  font-size: 24px;
  line-height: 1.8;
  margin: 60px 0 40px;
  text-align: center;
  background-color: #dd4a31;
  color: #fff;
}
/* 公共部分 start */
.product-resc-banner {
  position: relative;
}
.product-resc-banner .item {
  background: #fff;
  padding-bottom: 20px;
}
.product-resc-banner .item p {
  padding: 0 10px;
}
.product-resc-banner .item p.tit {
  margin: 20px 0 5px;
  color: #000;
  font-size: 15px;
}
.product-resc-banner .item p.desc {
  color: #666;
  font-size: 12px;
}
.product-resc-banner img {
  width: 100%;
}
.product-resc-banner .owl-nav > button {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 50px;
  height: 80px;
  font-size: 0;
}
.product-resc-banner .owl-nav > button span {
  display: inline-block;
  font-size: 68px;
  margin-top: -10px;
  color: #ce9b07;
}
.product-resc-banner .owl-nav > button:hover span {
  color: #ce9b07;
}
.product-resc-banner .owl-nav > button.owl-prev {
  left: -50px;
}
.product-resc-banner .owl-nav > button.owl-next {
  right: -50px;
}
/* 公共部分 end */
/*产品列表页*/
.resc-head-wrap {
  margin-right: 125px;
}
.resc-head-wrap .top {
  padding: 60px 0 90px;
  text-align: center;
}
.resc-head-wrap .top img {
  width: 100%;
}
.product-list-container {
  background-color: #fecb12;
}
.product-list-container .product-list-wrap .banner-wrap {
  overflow: hidden;
  margin-right: -80px;
  padding-bottom: 80px;
}
.product-list-container .product-list-wrap .banner-wrap .item {
  float: left;
  margin: 0 30px 60px 0;
  width: 188px;
}
.product-list-container .product-list-wrap .banner-wrap .item .tit a {
  color: #000;
}
.product-list-container .product-list-wrap .banner-wrap .item .price {
  background-color: #000;
  color: #fff;
  padding: 0 3px;
  border: 0;
}
.product-list-container .product-list-wrap .banner-wrap .item img {
  width: 100%;
  height: 162px;
}
.product-list-container .product-list-wrap .banner-wrap .item:nth-child(7n) {
  width: 405px;
  margin-right: 0;
}
.product-list-container .product-list-wrap .product-list {
  overflow: hidden;
}
.product-list-container .product-list-wrap .product-list ul {
  margin-right: -60px;
}
.product-list-container .product-list-wrap .product-list li {
  float: left;
  width: 208px;
  background-color: #ccc;
  margin: 0 40px 40px 0;
  padding-bottom: 10px;
}
.product-list-container .product-list-wrap .product-list li img {
  width: 100%;
  height: 220px;
}
.product-list-container .product-list-wrap .product-list li p {
  padding: 0 10px;
}
.product-list-container .product-list-wrap .product-list li p.tit {
  margin: 10px 0 5px;
  color: #000;
  font-size: 15px;
}
.product-list-container .product-list-wrap .product-list li p.desc {
  color: #666;
  font-size: 12px;
}
.contact-container .video-about {
  height: 680px;
  border-bottom: 4px solid #000000;
}
.contact-container .video-about .video-wrap {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.contact-container .video-about .about-wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 80px 60px 60px;
  float: right;
  width: 550px;
  height: 100%;
  background-color: #dd4a31;
  border-left: 4px solid #000000;
  color: #eee;
}
.contact-container .video-about .about-wrap li {
  margin-top: 60px;
}
.contact-container .video-about .about-wrap .con {
  overflow: hidden;
  line-height: 1.6;
  font-size: 14px;
  text-align: justify;
}
.contact-container .video-about .about-wrap .h2-tit {
  width: 81px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 40px 0 0;
  overflow: hidden;
  background-color: #000000;
}
.contact-container .video-about .about-wrap .logo-img {
  display: none;
}
.contact-container .share-wrap ul {
  width: 930px;
  margin: 140px auto 140px;
  text-align: center;
  overflow: hidden;
}
.contact-container .share-wrap li {
  position: relative;
  float: left;
  width: 290px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  margin: 10px;
  background-color: #dd4a31;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}
.contact-container .share-wrap li .img {
  width: 60px;
  height: 60px;
}
.contact-container .share-wrap li.item1 .img {
  width: 100px;
  height: 100px;
}
.contact-container .share-wrap li .forward-wrap {
  -webkit-transition: 2s;
  transition: 2s;
}
.contact-container .share-wrap li .mask-con {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 18px;
  opacity: 0;
}
.contact-container .share-wrap li:hover .mask-con {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.contact-container .contact-address {
  overflow: hidden;
  background-color: #dd4a31;
  padding: 150px 0;
  border-top: 4px solid #000000;
}
.contact-container .contact-address .info-wrap {
  height: 480px;
  float: left;
  color: #fff;
}
.contact-container .contact-address .info-wrap::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
.contact-container .contact-address .info-wrap ul {
  display: inline-block;
}
.contact-container .contact-address .info-wrap li {
  padding: 0 100px 0 10px;
  height: 76px;
  line-height: 115px;
  border-bottom: 2px solid #fff;
  font-size: 20px;
}
.contact-container .contact-address .map-wrap {
  height: 480px;
  background-color: #ccc;
  overflow: hidden;
}
.contact-container .contact-address .map-wrap #allmap {
  height: 100%;
}
.news-container .h2-tit {
  width: 128px;
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  margin: 100px auto 20px;
  background-color: #008755;
}
.news-container .desc-wrap {
  width: 728px;
  color: #000;
  line-height: 1.6;
  margin: 20px auto 60px;
  text-align: center;
}
.news-container .news-list-wrap {
  overflow: hidden;
}
.news-container .news-list-wrap li {
  overflow: hidden;
  margin-bottom: 60px;
}
.news-container .news-list-wrap li > a {
  float: left;
}
.news-container .news-list-wrap li img {
  width: 728px;
  height: 254px;
}
.news-container .news-list-wrap li .con {
  height: 254px;
  overflow: hidden;
  background-color: #008755;
  color: #fff;
}
.news-container .news-list-wrap li .wrap {
  padding: 20px 60px 20px 20px;
}
.news-container .news-list-wrap li .date-item {
  font-size: 26px;
  color: #008755;
  padding: 10px 0;
}
.news-container .news-list-wrap li .h3-tit {
  width: 100%;
  font-size: 18px;
  margin: 10px 0 30px;
  font-weight: bold;
}
.news-container .news-list-wrap li .desc {
  height: 96px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  overflow: hidden;
}
.news-container .recruit-wrap {
  border-top: 4px solid #000000;
  margin-bottom: 120px;
}
.news-container .recruit-wrap .con .tit-bar {
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  background-color: #008755;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.news-container .recruit-wrap .con .tit-bar .mark {
  float: right;
  width: 60px;
  font-size: 22px;
  cursor: pointer;
}
.news-container .recruit-wrap .con .item-wrap {
  height: 0;
  overflow: hidden;
}
.news-container .recruit-wrap .con .item {
  padding: 60px 60px 0 60px;
  background-color: #eee;
  overflow: hidden;
}
.news-container .recruit-wrap .con .item li {
  float: left;
  width: 50%;
  margin-bottom: 60px;
}
.news-container .recruit-wrap .con .item li div {
  margin-top: 10px;
}
.news-container .recruit-wrap .con .item li p {
  line-height: 2;
  padding-right: 60px;
  text-indent: 2em;
  margin-bottom: 10px;
}
/************  产品内页  *************/
.product-detail-wrap {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 160px;
  height: 880px;
}
.product-detail-box {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
}
.product-detail-box > div.item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 100%;
}
.product-detail-box > div.item:nth-child(1) {
  width: 65%;
}
.product-detail-box > div.item:nth-child(2) {
  width: 35%;
}
.product-property-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 65%;
  background-color: #fff;
  height: 160px;
  margin-bottom: 0;
  overflow: hidden;
}
.product-property-box ul {
  padding: 0 110px;
}
.product-property-box li {
  float: left;
  width: 25%;
  padding-top: 50px;
  text-align: center;
}
.product-property-box li > div {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  text-shadow: 0 2px 5px #ccc;
}
.product-property-box li .tit {
  font-weight: bold;
  margin-bottom: 15px;
}
.product-img-wrap {
  position: relative;
  padding-bottom: 120px;
}
.product-img-wrap .owl-stage,
.product-img-wrap .owl-stage-outer,
.product-img-wrap .owl-item {
  width: 100%;
  height: 100%;
}
.product-img-wrap .imgs-wrap {
  width: 565px;
  height: 370px;
  margin: 60px auto 0;
}
.product-img-wrap .imgs-wrap .item {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product-img-wrap .detail-nav-container {
  position: relative;
  width: 280px;
  height: 120px;
  margin: 20px auto -120px;
}
.product-img-wrap .detail-nav-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-img-wrap .custom-dots {
  position: relative;
  left: 0;
  right: 0;
  bottom: 20px;
  font-size: 0;
  text-align: center;
  z-index: 10;
}
.product-img-wrap .custom-dots li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
}
.product-img-wrap .custom-dots li.active {
  background-color: #fecb12;
}
.product-img-wrap .switch-nav {
  position: absolute;
  left: 0;
  width: 1000px;
}
.product-img-wrap .switch-nav .owl-dot {
  float: left;
  width: 80px!important;
  height: 72px;
  overflow: hidden;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
}
.product-img-wrap .switch-nav .owl-dot > div {
  cursor: pointer;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product-img-wrap .switch-nav .owl-dot.active {
  border: 2px solid #000;
}
.product-info-wrap {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fecb12;
  padding: 98px 60px 0 60px;
}
.product-info-wrap .h1-tit {
  text-align: left;
  font-size: 32px;
  color: #000;
  z-index: 2;
}
.product-info-wrap .line {
  position: absolute;
  left: 65%;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: #000;
}
.product-info-wrap .price {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  font-size: 20px;
  margin-top: 20px;
}
.product-info-wrap .detail {
  margin-top: 42px;
}
.product-info-wrap .detail::before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}
.product-info-wrap .detail .con {
  display: inline-block;
}
.product-info-wrap .detail p {
  font-size: 16px;
  line-height: 1.6;
}
.product-info-wrap .buy-btn-wrap .buy-btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  border: 2px solid #000;
  padding: 0 10px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}
.product-info-wrap .wx-code-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 124px;
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
}
.product-info-wrap .wx-code-wrap > div {
  display: inline-block;
  vertical-align: bottom;
}
.product-info-wrap .wx-code-wrap .text {
  line-height: 18px;
  font-size: 12px;
  margin: 0 0 10px 10px;
  color: #000;
}
.product-info-wrap .wx-code-wrap img {
  width: 80px;
  height: 80px;
}
.product-info-wrap .prop-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 60px 0 30px;
  overflow: hidden;
}
.product-info-wrap .prop-wrap li {
  float: left;
  height: 69px;
  line-height: 29px;
  padding-left: 160px;
  font-size: 18px;
  color: #666;
}
.product-info-wrap .prop-wrap li span {
  display: block;
  color: #000;
}
.product-container .product-resc-wrap {
  padding: 100px 0;
  border-top: 4px solid #000000;
}
.product-container .product-resc-wrap .resc-tit {
  font-size: 22px;
  margin-bottom: 62px;
  font-weight: bold;
}
.product-container .product-resc-wrap .product-resc-banner .owl-nav {
  display: block!important;
}
.product-container .product-resc-wrap .product-resc-banner .tit a {
  color: #000;
}
.product-container .product-resc-wrap .product-resc-banner .price {
  background-color: #fecb12;
  color: #000;
  border: 0;
}
.product-container .product-resc-wrap .product-resc-banner .owl-nav > button {
  margin-top: -80px;
}
.product-container .product-resc-wrap .product-resc-banner .owl-nav > button span {
  color: #000;
}
@media screen and (max-width: 1548px) {
  .content-wrap .company-info-sec .about-box li .wrap {
    width: auto;
  }
  .content-wrap .gift-wrap .item {
    height: 100px;
  }
  .content-wrap .gift-wrap .item > div.img {
    width: 80px;
    height: 80px;
    padding-left: 42px;
  }
  .content-wrap .index-recruit-wrap .img img {
    width: 100px;
    height: 43px;
  }
}
@media screen and (max-width: 1300px) {
  .news-container .news-list-wrap li .wrap {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 1200px) {
  .product-detail-wrap,
  .product-resc-wrap {
    width: 1052px;
  }
  .video-about {
    width: 1052px;
  }
}
