.fl {
  float: left;
}
.fr {
  float: right;
}
html,
body {
  height: 100%;
  font-size: 14px;
}
.w1100 {
  width: 1100px;
  margin: 0 auto;
}
.w843 {
  width: 843px;
  margin: 0 auto;
}
#base {
  width: 698px;
}
.bottom-line {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 4px;
  background-color: #000000;
}
.line {
  height: 1px;
  background-color: #000000;
}
.line.line-bold {
  height: 4px;
}
.container {
  border-left: 4px solid #000000;
}
.content-wrap {
  overflow: hidden;
  min-width: 800px;
}
.index-content {
  padding-right: 76px;
}
.index-content,
.index-nav-wrap {
  height: inherit;
}
.active-0.active {
  color: #4D90C4;
}
.sildeUpnav + .mask .active {
  color: #FECA12;
}
.active-2.active {
  color: #DE4931;
}
.header-sec {
  height: 15%;
}
.logo-wrap,
#base {
  height: 100%;
  vertical-align: super;
}
.header-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: 15%;
  border: 4px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-wrap {
  position: relative;
  z-index: 2;
}
.nav-wrap .hamRotate {
  display: none;
}
.logo-wrap,
.nav-space {
  position: relative;
  z-index: 10;
  font-size: 62px;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}
.index-nav-wrap {
  position: fixed;
  top: 15%;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
}
.index-nav-item {
  position: relative;
  width: 72px;
  height: 100%;
  border-left: 1px solid #000000;
  border-right: 4px solid #000000;
  background-color: #fff;
}
.index-nav-item ul.main-nav-ul {
  padding-top: 20px;
}
.index-nav-item .main-nav-ul > li {
  font-size: 0;
}
.index-nav-item .main-nav-ul > li > a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}
.index-nav-item .main-nav-ul > li > a span {
  display: inline-block;
  width: 22px;
  cursor: pointer;
}
.index-nav-item .main-nav-ul > li:hover .mask {
  opacity: 1;
  right: 72px;
  -webkit-transition: right 0.2s cubic-bezier(0, 0.63, 0.19, 1.03);
  transition: right 0.2s cubic-bezier(0, 0.63, 0.19, 1.03);
}
.index-nav-item .main-nav-ul > li:hover .mask ul {
  opacity: 1;
  -webkit-transition-delay: 0.03s;
  transition-delay: 0.03s;
}
.index-nav-item .main-nav-ul > li:hover .active-0 {
  color: #4d90c4;
}
.index-nav-item .main-nav-ul > li:hover .sildeUpnav {
  color: #fecb12;
}
.index-nav-item .main-nav-ul > li:hover .active-2 {
  color: #008755;
}
.index-nav-item .main-nav-ul > li:hover .active-3 {
  color: #dd4a31;
}
.index-nav-item .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  right: -260px;
  width: 240px;
  margin-right: 0;
  background-color: #fff;
  border-left: 4px solid #000000;
  opacity: 0;
  font-size: 16px;
}
.index-nav-item .mask ul {
  padding-top: 100px;
  text-align: center;
  line-height: 32px;
  opacity: 0;
}
.index-nav-item .mask ul li a {
  display: block;
  height: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}
.nav-banner-sec {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  font-size: 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.nav-banner-sec .nav-banner-wrap {
  position: absolute;
  left: 0;
  width: 2000%;
  overflow: hidden;
}
.nav-banner-sec .nav-banner-wrap:hover {
  opacity: 0.5;
}
.nav-banner-sec ul {
  float: left;
}
.nav-banner-sec li {
  display: inline-block;
  margin: 0 5px;
}
.nav-banner-sec li img {
  height: 60px;
}
.banner-sec {
  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 76px;
  height: 85%;
}
.banner-sec .head-banner,
.banner-sec .owl-stage-outer,
.banner-sec .owl-stage {
  height: 100%;
}
.banner-sec .owl-dots {
  text-align: center;
  font-size: 0;
  margin-top: 20px;
}
.banner-sec .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #b5b5b5;
}
.banner-sec .owl-dots .owl-dot.active {
  background-color: #fff;
}
.banner-sec .head-banner .owl-item,
.banner-sec .head-banner .owl-stage,
.banner-sec .head-banner .item {
  height: 100%;
}
.banner-sec .head-banner .item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner-sec .head-banner .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
/* 产品公共 start */
.index-product-wrap {
  min-height: 240px;
}
.banner-wrap {
  position: relative;
}
.banner-wrap .item .tit {
  padding-top: 10px;
  font-weight: bold;
}
.banner-wrap .item .tit a {
  color: #4d90c4;
}
.banner-wrap .item .desc-price {
  padding: 3px 0 10px;
  font-size: 12px;
}
.banner-wrap .item .desc-price .desc {
  line-height: 22px;
}
.banner-wrap .item .desc-price .price {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  color: #fff;
  border: 1px solid #4d90c4;
  background-color: #4d90c4;
}
/* 产品公共 end */
.content-wrap {
  /*重合*/
  /*不重复*/
  /*重复*/
}
.content-wrap .product-item {
  padding: 80px 0 100px;
}
.content-wrap .product-item .nav {
  text-align: center;
}
.content-wrap .product-item .nav span {
  display: inline-block;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 48px;
  margin-bottom: 42px;
  background-color: #4d90c4;
  color: #fff;
}
.content-wrap .product-sec > .item:nth-child(1) {
  background-color: #4d90c4;
  color: #fff;
}
.content-wrap .product-sec > .item:nth-child(1) .nav span {
  background-color: #fff;
  color: #4d90c4;
}
.content-wrap .product-sec > .item:nth-child(1) h3 a {
  color: #fff;
}
.content-wrap .product-sec > .item:nth-child(1) .price {
  background-color: #fff;
  color: #4d90c4;
}
.content-wrap .more-con {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-weight: bold;
  font-size: 14px;
}
.content-wrap .banner-wrap .owl-stage {
  height: auto!important;
}
.content-wrap .banner-wrap .owl-dots .owl-dot {
  background-color: #e2e1e0;
}
.content-wrap .banner-wrap .owl-dots .owl-dot.active {
  background-color: #66bae5;
}
.content-wrap .resc-banner-sec {
  border-bottom: 4px solid #000000;
  border-top: 4px solid #000000;
  font-size: 0;
  position: relative;
  height: 100px;
  cursor: pointer;
}
.content-wrap .resc-banner-sec .resc-banner-wrap {
  position: absolute;
  left: 0;
  width: 1000%;
  overflow: hidden;
}
.content-wrap .resc-banner-sec .resc-banner-wrap:hover {
  opacity: 0.5;
}
.content-wrap .resc-banner-sec ul {
  float: left;
}
.content-wrap .resc-banner-sec li {
  display: inline-block;
  margin: 0 20px;
}
.content-wrap .resc-banner-sec li img {
  height: 100px;
}
.content-wrap .company-info-sec .about-tit {
  display: none;
}
.content-wrap .company-info-sec .about-box {
  width: 100%;
  display: table;
  overflow: hidden;
}
.content-wrap .company-info-sec .about-box li {
  display: table-cell;
  width: 50%;
  background-color: #fff;
  text-align: right;
  vertical-align: middle;
}
.content-wrap .company-info-sec .about-box li .wrap {
  width: 560px;
  height: 235px;
  padding: 5% 80px;
  margin: 0 auto;
  text-align: left;
  font-size: 0;
}
.content-wrap .company-info-sec .about-box li .wrap .wrap-box {
  display: inline-block;
  vertical-align: middle;
}
.content-wrap .company-info-sec .about-box li .wrap::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.content-wrap .company-info-sec .about-box li .wrap .info {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #4d90c4;
  font-weight: bold;
}
.content-wrap .company-info-sec .about-box li .wrap .info img {
  display: none;
}
.content-wrap .company-info-sec .about-box li .wrap .con {
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  text-align: justify;
  letter-spacing: .04em;
}
.content-wrap .company-info-sec .about-box li .wrap .con img {
  vertical-align: baseline;
}
.content-wrap .company-info-sec .about-box li .wrap .con p {
  margin-bottom: 10px;
  text-indent: 2em;
}
.content-wrap .company-info-sec .about-box li:nth-child(2n) {
  text-align: left;
}
.content-wrap .company-info-sec .about-box li:nth-child(2n) .wrap {
  text-align: center;
}
.content-wrap .about-box.first li:nth-child(2) {
  background-color: #4d90c4;
}
.content-wrap .about-box.second li:nth-child(1) {
  background-color: #fecb12;
}
.content-wrap .about-box.second li:nth-child(1) .wrap {
  text-align: center;
}
.content-wrap .about-box.second li:nth-child(2) .con {
  text-align: left;
}
.content-wrap .index-recruit-wrap {
  background-color: #4d90c4;
  color: #fff;
  border-top: 4px solid #000000;
}
.content-wrap .index-recruit-wrap .item > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 166px;
}
.content-wrap .index-recruit-wrap .con {
  height: inherit;
  font-size: 20px;
  letter-spacing: .05em;
  margin-left: 100px;
}
.content-wrap .index-recruit-wrap .img {
  height: inherit;
  padding: 0 60px;
}
.content-wrap .index-recruit-wrap .img img {
  width: 120px;
  height: 60px;
}
.content-wrap .resc-main-prop {
  border-bottom: 4px solid #000000;
}
.content-wrap .gift-wrap li {
  border-bottom: 1px solid #000000;
  -webkit-transition: all .1s;
  transition: all .1s;
}
.content-wrap .gift-wrap li .img img:nth-child(2) {
  display: none;
}
.content-wrap .gift-wrap li:nth-last-child(1) {
  border-bottom: 0;
}
.content-wrap .gift-wrap li:hover {
  background-color: #4d90c4;
  cursor: pointer;
  color: #fff;
}
.content-wrap .gift-wrap li:hover .arrow span {
  background: url('../images/arrow@high.png') no-repeat !important;
}
.content-wrap .gift-wrap li:hover .img img:nth-child(1) {
  display: none;
}
.content-wrap .gift-wrap li:hover .img img:nth-child(2) {
  display: block;
}
.content-wrap .gift-wrap .item {
  display: table;
  height: 132px;
  overflow: hidden;
}
.content-wrap .gift-wrap .item > div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.content-wrap .gift-wrap .item > div.arrow {
  margin-right: 100px;
  text-align: right;
}
.content-wrap .gift-wrap .item > div.arrow span {
  display: inline-block;
  width: 68px;
  height: 68px;
  background: url('../images/arrow@icon.png') no-repeat;
  background-size: 100% 100%;
}
.content-wrap .gift-wrap .item > div.img {
  width: 102px;
  height: 102px;
}
.content-wrap .gift-wrap .item > div.img img {
  width: 100%;
  height: 100%;
}
.content-wrap .gift-wrap .item > div.con {
  font-size: 18px;
}
.content-wrap .gift-wrap .item > div.con p {
  margin-left: 60px;
}
.content-wrap .gift-wrap .item > div.con p.desc {
  font-size: 14px;
  margin-top: 10px;
}
.footer-sec {
  background-color: #ccc;
  border-bottom: 4px solid #000000;
}
.contact-wrap {
  padding: 80px 0;
  background-color: #232323;
  color: #fff;
  text-align: center;
}
.contact-wrap .form-box {
  display: inline-block;
}
.contact-wrap .form-box > p {
  font-size: 20px;
}
.contact-wrap .form-box .form-wrap {
  margin-top: 20px;
  font-size: 0;
}
.contact-wrap .form-box .form-wrap .submit-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 50px;
  margin-left: 5px;
  font-size: 16px;
  background-color: #ABABAB;
  vertical-align: middle;
}
.contact-wrap .form-box .form-wrap input {
  width: 275px;
  height: 30px;
  border: 0;
  font-size: 14px;
  text-indent: 1em;
  vertical-align: middle;
}
.link-wrap {
  position: relative;
  background-color: #000;
  text-align: center;
}
.link-wrap ul {
  display: inline-block;
  height: 110px;
  line-height: 110px;
  /*修改处*/
}
.link-wrap ul li {
  float: left;
  margin: 0 20px;
}
.link-wrap ul a {
  color: #fff;
  font-size: 14px;
}
.link-wrap .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: center;
  color: #dcdcdc;
}
.h2-tit {
  font-size: 24px;
  line-height: 1.8;
  margin: 60px 0 40px;
  text-align: center;
  background-color: #dd4a31;
  color: #fff;
}
/* 公共部分 start */
.product-resc-banner {
  position: relative;
}
.product-resc-banner .item {
  background: #fff;
  padding-bottom: 20px;
}
.product-resc-banner .item p {
  padding: 0 10px;
}
.product-resc-banner .item p.tit {
  margin: 20px 0 5px;
  color: #000;
  font-size: 15px;
}
.product-resc-banner .item p.desc {
  color: #666;
  font-size: 12px;
}
.product-resc-banner img {
  width: 100%;
}
.product-resc-banner .owl-nav > button {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 50px;
  height: 80px;
  font-size: 0;
}
.product-resc-banner .owl-nav > button span {
  display: inline-block;
  font-size: 68px;
  margin-top: -10px;
  color: #ce9b07;
}
.product-resc-banner .owl-nav > button:hover span {
  color: #ce9b07;
}
.product-resc-banner .owl-nav > button.owl-prev {
  left: -50px;
}
.product-resc-banner .owl-nav > button.owl-next {
  right: -50px;
}
/* 公共部分 end */
/*产品列表页*/
.resc-head-wrap {
  margin-right: 125px;
}
.resc-head-wrap .top {
  padding: 60px 0 90px;
  text-align: center;
}
.resc-head-wrap .top img {
  width: 100%;
}
.product-list-container {
  background-color: #fecb12;
}
.product-list-container .product-list-wrap .banner-wrap {
  overflow: hidden;
  margin-right: -80px;
  padding-bottom: 80px;
}
.product-list-container .product-list-wrap .banner-wrap .item {
  float: left;
  margin: 0 30px 60px 0;
  width: 188px;
}
.product-list-container .product-list-wrap .banner-wrap .item .tit a {
  color: #000;
}
.product-list-container .product-list-wrap .banner-wrap .item .price {
  background-color: #000;
  color: #fff;
  padding: 0 3px;
  border: 0;
}
.product-list-container .product-list-wrap .banner-wrap .item img {
  width: 100%;
  height: 162px;
}
.product-list-container .product-list-wrap .banner-wrap .item:nth-child(7n) {
  width: 405px;
  margin-right: 0;
}
.product-list-container .product-list-wrap .product-list {
  overflow: hidden;
}
.product-list-container .product-list-wrap .product-list ul {
  margin-right: -60px;
}
.product-list-container .product-list-wrap .product-list li {
  float: left;
  width: 208px;
  background-color: #ccc;
  margin: 0 40px 40px 0;
  padding-bottom: 10px;
}
.product-list-container .product-list-wrap .product-list li img {
  width: 100%;
  height: 220px;
}
.product-list-container .product-list-wrap .product-list li p {
  padding: 0 10px;
}
.product-list-container .product-list-wrap .product-list li p.tit {
  margin: 10px 0 5px;
  color: #000;
  font-size: 15px;
}
.product-list-container .product-list-wrap .product-list li p.desc {
  color: #666;
  font-size: 12px;
}
.contact-container .video-about {
  height: 680px;
  border-bottom: 4px solid #000000;
}
.contact-container .video-about .video-wrap {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.contact-container .video-about .about-wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 80px 60px 60px;
  float: right;
  width: 550px;
  height: 100%;
  background-color: #dd4a31;
  border-left: 4px solid #000000;
  color: #eee;
}
.contact-container .video-about .about-wrap li {
  margin-top: 60px;
}
.contact-container .video-about .about-wrap .con {
  overflow: hidden;
  line-height: 1.6;
  font-size: 14px;
  text-align: justify;
}
.contact-container .video-about .about-wrap .h2-tit {
  width: 81px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 40px 0 0;
  overflow: hidden;
  background-color: #000000;
}
.contact-container .video-about .about-wrap .logo-img {
  display: none;
}
.contact-container .share-wrap ul {
  width: 930px;
  margin: 140px auto 140px;
  text-align: center;
  overflow: hidden;
}
.contact-container .share-wrap li {
  position: relative;
  float: left;
  width: 290px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  margin: 10px;
  background-color: #dd4a31;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}
.contact-container .share-wrap li .img {
  width: 60px;
  height: 60px;
}
.contact-container .share-wrap li.item1 .img {
  width: 100px;
  height: 100px;
}
.contact-container .share-wrap li .forward-wrap {
  -webkit-transition: 2s;
  transition: 2s;
}
.contact-container .share-wrap li .mask-con {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 18px;
  opacity: 0;
}
.contact-container .share-wrap li:hover .mask-con {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.contact-container .contact-address {
  overflow: hidden;
  background-color: #dd4a31;
  padding: 150px 0;
  border-top: 4px solid #000000;
}
.contact-container .contact-address .info-wrap {
  height: 480px;
  float: left;
  color: #fff;
}
.contact-container .contact-address .info-wrap::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
.contact-container .contact-address .info-wrap ul {
  display: inline-block;
}
.contact-container .contact-address .info-wrap li {
  padding: 0 100px 0 10px;
  height: 76px;
  line-height: 115px;
  border-bottom: 2px solid #fff;
  font-size: 20px;
}
.contact-container .contact-address .map-wrap {
  height: 480px;
  background-color: #ccc;
  overflow: hidden;
}
.contact-container .contact-address .map-wrap #allmap {
  height: 100%;
}
.news-container .h2-tit {
  width: 128px;
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  margin: 100px auto 20px;
  background-color: #008755;
}
.news-container .desc-wrap {
  width: 728px;
  color: #000;
  line-height: 1.6;
  margin: 20px auto 60px;
  text-align: center;
}
.news-container .news-list-wrap {
  overflow: hidden;
}
.news-container .news-list-wrap li {
  overflow: hidden;
  margin-bottom: 60px;
}
.news-container .news-list-wrap li > a {
  float: left;
}
.news-container .news-list-wrap li img {
  width: 728px;
  height: 254px;
}
.news-container .news-list-wrap li .con {
  height: 254px;
  overflow: hidden;
  background-color: #008755;
  color: #fff;
}
.news-container .news-list-wrap li .wrap {
  padding: 20px 60px 20px 20px;
}
.news-container .news-list-wrap li .date-item {
  font-size: 26px;
  color: #008755;
  padding: 10px 0;
}
.news-container .news-list-wrap li .h3-tit {
  width: 100%;
  font-size: 18px;
  margin: 10px 0 30px;
  font-weight: bold;
}
.news-container .news-list-wrap li .desc {
  height: 96px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  overflow: hidden;
}
.news-container .recruit-wrap {
  border-top: 4px solid #000000;
  margin-bottom: 120px;
}
.news-container .recruit-wrap .con .tit-bar {
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  background-color: #008755;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.news-container .recruit-wrap .con .tit-bar .mark {
  float: right;
  width: 60px;
  font-size: 22px;
  cursor: pointer;
}
.news-container .recruit-wrap .con .item-wrap {
  height: 0;
  overflow: hidden;
}
.news-container .recruit-wrap .con .item {
  padding: 60px 60px 0 60px;
  background-color: #eee;
  overflow: hidden;
}
.news-container .recruit-wrap .con .item li {
  float: left;
  width: 50%;
  margin-bottom: 60px;
}
.news-container .recruit-wrap .con .item li div {
  margin-top: 10px;
}
.news-container .recruit-wrap .con .item li p {
  line-height: 2;
  padding-right: 60px;
  text-indent: 2em;
  margin-bottom: 10px;
}
/************  产品内页  *************/
.product-detail-wrap {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 160px;
  height: 880px;
}
.product-detail-box {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
}
.product-detail-box > div.item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 100%;
}
.product-detail-box > div.item:nth-child(1) {
  width: 65%;
}
.product-detail-box > div.item:nth-child(2) {
  width: 35%;
}
.product-property-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 65%;
  background-color: #fff;
  height: 160px;
  margin-bottom: 0;
  overflow: hidden;
}
.product-property-box ul {
  padding: 0 110px;
}
.product-property-box li {
  float: left;
  width: 25%;
  padding-top: 50px;
  text-align: center;
}
.product-property-box li > div {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  text-shadow: 0 2px 5px #ccc;
}
.product-property-box li .tit {
  font-weight: bold;
  margin-bottom: 15px;
}
.product-img-wrap {
  position: relative;
  padding-bottom: 120px;
}
.product-img-wrap .owl-stage,
.product-img-wrap .owl-stage-outer,
.product-img-wrap .owl-item {
  width: 100%;
  height: 100%;
}
.product-img-wrap .imgs-wrap {
  width: 565px;
  height: 370px;
  margin: 60px auto 0;
}
.product-img-wrap .imgs-wrap .item {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product-img-wrap .detail-nav-container {
  position: relative;
  width: 280px;
  height: 120px;
  margin: 20px auto -120px;
}
.product-img-wrap .detail-nav-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-img-wrap .custom-dots {
  position: relative;
  left: 0;
  right: 0;
  bottom: 20px;
  font-size: 0;
  text-align: center;
  z-index: 10;
}
.product-img-wrap .custom-dots li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
}
.product-img-wrap .custom-dots li.active {
  background-color: #fecb12;
}
.product-img-wrap .switch-nav {
  position: absolute;
  left: 0;
  width: 1000px;
}
.product-img-wrap .switch-nav .owl-dot {
  float: left;
  width: 80px!important;
  height: 72px;
  overflow: hidden;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
}
.product-img-wrap .switch-nav .owl-dot > div {
  cursor: pointer;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product-img-wrap .switch-nav .owl-dot.active {
  border: 2px solid #000;
}
.product-info-wrap {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fecb12;
  padding: 98px 60px 0 60px;
}
.product-info-wrap .h1-tit {
  text-align: left;
  font-size: 32px;
  color: #000;
  z-index: 2;
}
.product-info-wrap .line {
  position: absolute;
  left: 65%;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: #000;
}
.product-info-wrap .price {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  font-size: 20px;
  margin-top: 20px;
}
.product-info-wrap .detail {
  margin-top: 42px;
}
.product-info-wrap .detail::before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}
.product-info-wrap .detail .con {
  display: inline-block;
}
.product-info-wrap .detail p {
  font-size: 16px;
  line-height: 1.6;
}
.product-info-wrap .buy-btn-wrap .buy-btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  border: 2px solid #000;
  padding: 0 10px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}
.product-info-wrap .wx-code-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 124px;
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
}
.product-info-wrap .wx-code-wrap > div {
  display: inline-block;
  vertical-align: bottom;
}
.product-info-wrap .wx-code-wrap .text {
  line-height: 18px;
  font-size: 12px;
  margin: 0 0 10px 10px;
  color: #000;
}
.product-info-wrap .wx-code-wrap img {
  width: 80px;
  height: 80px;
}
.product-info-wrap .prop-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 60px 0 30px;
  overflow: hidden;
}
.product-info-wrap .prop-wrap li {
  float: left;
  height: 69px;
  line-height: 29px;
  padding-left: 160px;
  font-size: 18px;
  color: #666;
}
.product-info-wrap .prop-wrap li span {
  display: block;
  color: #000;
}
.product-container .product-resc-wrap {
  padding: 100px 0;
  border-top: 4px solid #000000;
}
.product-container .product-resc-wrap .resc-tit {
  font-size: 22px;
  margin-bottom: 62px;
  font-weight: bold;
}
.product-container .product-resc-wrap .product-resc-banner .owl-nav {
  display: block!important;
}
.product-container .product-resc-wrap .product-resc-banner .tit a {
  color: #000;
}
.product-container .product-resc-wrap .product-resc-banner .price {
  background-color: #fecb12;
  color: #000;
  border: 0;
}
.product-container .product-resc-wrap .product-resc-banner .owl-nav > button {
  margin-top: -80px;
}
.product-container .product-resc-wrap .product-resc-banner .owl-nav > button span {
  color: #000;
}
@media screen and (max-width: 1548px) {
  .content-wrap .company-info-sec .about-box li .wrap {
    width: auto;
    padding: 5% 60px;
  }
  .content-wrap .gift-wrap .item {
    height: 100px;
  }
  .content-wrap .gift-wrap .item > div.img {
    width: 80px;
    height: 80px;
    padding-left: 42px;
  }
  .content-wrap .index-recruit-wrap .img img {
    width: 100px;
    height: 43px;
  }
  .content-wrap .index-recruit-wrap .item > * {
    line-height: 100px;
  }
  .w1100 {
    width: 980px;
  }
}
@media screen and (max-width: 1300px) {
  .w1100 {
    width: 880px;
  }
  .news-container .news-list-wrap li .wrap {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 1200px) {
  .product-detail-wrap,
  .product-resc-wrap {
    width: 1052px;
  }
  .video-about {
    width: 1052px;
  }
}
