body {
  font-size: 0.37333333rem !important;
  overflow: hidden;
}
.container {
  width: 10rem;
}
.lr-container,
.rela-imgs,
.nav-box {
  display: none;
}
.header-sec {
  height: 2.74666667rem;
}
.header-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-direction: column;
}
.logo-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 0.88rem;
  font-weight: bold;
  overflow: hidden;
  border-bottom: 0.02666667rem solid #000;
  background-color: #fff;
}
#origin {
  width: 5.2rem;
  height: 4rem;
  display: none;
}
#base {
  width: 7.2rem;
  height: 1.81333333rem;
}
.nav-wrap {
  position: relative;
  background-color: #fff;
  font-size: 0;
}
.nav-wrap .btn {
  text-align: center;
}
.nav-wrap .btn > span {
  display: inline-block;
  width: 0.92rem;
  height: 0.13333333rem;
  background-color: #fff;
  margin: 0.06666667rem 0;
}
.nav-wrap .index-nav-wrap {
  border-bottom: 0.08rem solid #000;
  color: #fff;
}
.nav-wrap .index-nav-wrap .index-nav-item {
  position: relative;
  height: auto!important;
}
.nav-wrap .index-nav-wrap .index-nav-item .main-nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.8rem;
  padding: 0 0.66666667rem;
}
.nav-wrap .index-nav-wrap .index-nav-item .main-nav-ul li {
  font-size: 0.37333333rem;
  margin: 0 0.26666667rem;
}
.nav-wrap .index-nav-wrap .index-nav-item .main-nav-ul li a {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #000;
  min-width: 0.8rem;
  padding: 0.13333333rem 0.26666667rem;
}
.nav-wrap .index-nav-wrap .index-nav-item .main-nav-ul li a:active {
  opacity: 0.8;
  background-color: #eee;
}
.nav-wrap .index-nav-wrap .index-nav-item .mask.active {
  opacity: 1;
  top: 0;
  transition: top 0.2s cubic-bezier(0, 0.63, 0.19, 1.03);
}
.nav-wrap .index-nav-wrap .index-nav-item .mask.active ul {
  opacity: 1;
  transition-delay: 0.03s;
}
.nav-wrap .index-nav-wrap .index-nav-item .mask {
  position: absolute;
  margin-top: 0.8rem;
  z-index: -1;
  top: -1.73333333rem;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 0.08rem solid #000;
}
.nav-wrap .index-nav-wrap .index-nav-item .mask ul {
  padding: 0.4rem 0;
  display: flex;
  justify-content: center;
}
.nav-wrap .index-nav-wrap .index-nav-item .mask ul li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 0.8rem;
  margin: 0 0.4rem;
}
.nav-banner-sec {
  display: none;
}
.index-container .banner-sec {
  height: 8rem;
}
/* 公共代码 start */
.head-banner .owl-item,
.head-banner .owl-stage,
.head-banner .item {
  height: 8rem;
}
.head-banner .item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.head-banner .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.4rem;
}
.owl-dots {
  text-align: center;
  font-size: 0;
  margin-top: 1.06666667rem;
}
.owl-dots .owl-dot {
  width: 0.33333333rem;
  height: 0.06666667rem;
  margin: 0 0.06666667rem;
  background-color: #b5b5b5!important;
  transition: all .3s;
}
.owl-dots .owl-dot.active {
  background-color: #fff!important;
}
.banner-wrap .owl-stage {
  height: auto!important;
}
.banner-wrap .owl-dots .owl-dot {
  transition: all .3s;
  background-color: #e2e1e0!important;
}
.banner-wrap .owl-dots .owl-dot.active {
  background-color: #66bae5!important;
}
/* 公共代码 end */
.index-container .head-banner {
  border-bottom: 0.08rem solid #000;
}
.index-container .product-item .nav {
  text-align: center;
}
.index-container .product-item .nav span {
  display: block;
  line-height: 2;
  font-size: 0.37333333rem;
  padding: 0 0.90666667rem;
  margin: 0 1.06666667rem;
  background-color: #4D90C4;
  color: #fff;
}
.index-container .index-product-box {
  overflow: initial;
  padding: 0.66666667rem 0.64rem 0;
}
.index-container .index-product-box .more-con {
  display: none;
  text-align: right;
  margin-top: -0.34666667rem;
}
.index-container .index-product-box .more-con span {
  display: inline-block;
  color: #000;
  font-weight: bold;
  font-size: 0.37333333rem;
}
.product-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-wrap .item {
  width: 48%;
  margin-bottom: 0.56rem;
}
.product-wrap .tit {
  font-size: 0.37333333rem;
  margin: 0.26666667rem 0 0.13333333rem;
}
.product-wrap .price {
  color: #e84466;
}
.product-wrap img {
  width: 100%;
}
.resc-banner-sec {
  border-bottom: 0.08rem solid #000;
  font-size: 0;
  position: relative;
  height: 1.22666667rem;
  cursor: pointer;
  overflow: hidden;
}
.resc-banner-sec .resc-banner-wrap {
  position: absolute;
  left: 0;
  width: 1000%;
  overflow: hidden;
}
.resc-banner-sec .resc-banner-wrap:hover {
  opacity: 0.5;
}
.resc-banner-sec ul {
  float: left;
}
.resc-banner-sec li {
  display: inline-block;
  margin: 0 0.26666667rem;
}
.resc-banner-sec li img {
  height: 1.22666667rem;
}
.recruit-sec {
  display: flex;
  align-items: center;
  margin: 0.26666667rem 0.64rem 1.06666667rem;
  padding: 0.26666667rem 0.13333333rem;
  background-color: #eee;
}
.recruit-sec img {
  width: 0.8rem;
  padding: 0 0.26666667rem;
}
.library-list-container .company-nav-sec {
  margin-top: 0.8rem;
}
.company-nav-sec {
  padding: 0.26666667rem 0.64rem;
}
.company-nav-sec ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.company-nav-sec ul li {
  width: 48%;
  margin-bottom: 1.06666667rem;
  display: none;
}
.company-nav-sec ul li:nth-child(1),
.company-nav-sec ul li:nth-child(2) {
  display: block;
}
.company-nav-sec ul li .name {
  font-size: 0.42666667rem;
  margin-bottom: 0.32rem;
  font-weight: bold;
}
.company-nav-sec ul li .tit {
  margin: 0.33333333rem 0 0.13333333rem;
  font-weight: bold;
}
.company-nav-sec ul li .more {
  display: flex;
  justify-content: flex-end;
  color: #6e6e6e;
  margin-top: 0.2rem;
  font-size: 0.32rem;
}
.company-nav-sec ul img {
  width: 100%;
}
.contact-wrap {
  padding: 0.96rem 0 1.2rem;
  margin: 0 0.64rem;
  border-top: 0.01333333rem solid #000;
}
.contact-wrap .form-box {
  display: inline-block;
}
.contact-wrap .form-box > p {
  font-size: 0.42666667rem;
}
.contact-wrap .form-box .form-wrap {
  margin-top: 0.26666667rem;
  font-size: 0;
}
.contact-wrap .form-box .form-wrap .submit-btn {
  display: inline-block;
  line-height: 0.61333333rem;
  padding: 0 0.4rem;
  margin-left: 0.13333333rem;
  font-size: 0.37333333rem;
  background-color: #e84466;
  color: #fff;
}
.contact-wrap .form-box .form-wrap input {
  width: 5.06666667rem;
  height: 0.66666667rem;
  text-indent: 0.5em;
  background-color: #eee;
  border: 0;
  outline: none;
  text-indent: 1em;
  line-height: 1.6;
  letter-spacing: 0.08em;
  font: 300 12px Arial;
  font-size: 0.32rem;
}
.contact-wrap .contact-type-tit {
  font-size: 0.42666667rem;
  margin: 0.90666667rem 0 0.13333333rem;
}
.contact-wrap .footer-banner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.contact-wrap .footer-banner .share-wrap {
  display: flex;
}
.contact-wrap .footer-banner .share-wrap li {
  margin-right: 0.21333333rem;
}
/************  新闻列表页  *************/
.h2-tit {
  font-size: 0.4rem;
  line-height: 2;
  margin: 0.8rem 0 0.53333333rem;
  text-align: center;
  background-color: #ff4f50;
  color: #fff;
}
.news-container .news-list-wrap {
  padding: 0 0.64rem 0.8rem;
  border-bottom: 0.08rem solid #000;
}
.news-container .news-list-wrap .h2-tit {
  background-color: #008755;
  margin: 0.8rem 0;
}
.news-container .news-list-wrap .desc-wrap {
  text-align: justify;
  letter-spacing: 0.00533333rem;
  line-height: 1.6;
  font-size: 0.32rem;
}
.news-container .news-list-wrap .desc-wrap p {
  display: inline;
}
.news-container .news-list-wrap .desc-wrap p:nth-last-child(1),
.news-container .news-list-wrap .desc-wrap p:nth-last-child(2),
.news-container .news-list-wrap .desc-wrap p:nth-last-child(3) {
  display: none;
}
.news-container .news-list-wrap ul {
  margin-top: 0.8rem;
}
.news-container .news-list-wrap li {
  display: flex;
  overflow: hidden;
  margin-bottom: 0.8rem;
}
.news-container .news-list-wrap li img {
  width: 5.17333333rem;
  height: 2.50666667rem;
}
.news-container .news-list-wrap li .con {
  background-color: #008755;
  padding: 0.06666667rem 0.18666667rem;
  color: #fff;
}
.news-container .news-list-wrap li .h3-tit {
  width: 100%;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  margin: 0.13333333rem 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-container .news-list-wrap li .desc {
  height: 0.96rem;
  line-height: 0.48rem;
  font-size: 0.32rem;
  letter-spacing: 0.03em;
  overflow: hidden;
}
.news-container .recruit-wrap {
  background-color: #008755;
  color: #fff;
  padding: 0.8rem 1.06666667rem;
}
.news-container .recruit-wrap .h2-tit {
  margin: 0 0 0.8rem 0;
  background-color: #fff;
  color: #008755;
}
.news-container .recruit-wrap .desc-wrap {
  text-align: justify;
  letter-spacing: 0.00533333rem;
  line-height: 1.6;
  font-size: 0.32rem;
}
.news-container .recruit-wrap .desc-wrap p {
  display: inline;
}
.news-container .recruit-wrap .desc-wrap p:nth-last-child(1),
.news-container .recruit-wrap .desc-wrap p:nth-last-child(2) {
  display: none;
}
.news-container .recruit-wrap .tit-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.2rem;
  border-bottom: 0.02666667rem solid #fff;
  margin-top: 1.06666667rem;
  font-size: 0.37333333rem;
}
.news-container .recruit-wrap .tit-bar .mark {
  display: flex;
  justify-content: center;
  width: 0.26666667rem;
  height: 0.26666667rem;
  line-height: 0.21333333rem;
  border: 0.02666667rem solid #fff;
  background-color: #fff;
  color: #008755;
  font-size: 0.42666667rem;
}
.news-container .recruit-wrap .con {
  font-size: 0.32rem;
  line-height: 1.3;
  padding-top: 0.26666667rem;
}
.news-container .recruit-wrap .item-wrap {
  height: 0;
  overflow: hidden;
}
.news-container .recruit-wrap .item {
  padding: 1.06666667rem 0.4rem 0.8rem;
  background-color: #fff;
}
.news-container .recruit-wrap .item li {
  line-height: 1.8;
  letter-spacing: 0.00533333rem;
  color: #008755;
}
.news-container .recruit-wrap .item li > div {
  margin: 0.2rem 0 0.8rem;
}
/************  联系页和关于我们  *************/
.contact-container .video-about {
  display: flex;
  flex-direction: column-reverse;
}
.contact-container .video-wrap {
  height: 9.33333333rem;
  border-bottom: 0.08rem solid #000;
}
.contact-container .about-wrap {
  position: relative;
  padding: 2.13333333rem 0.64rem 0;
  border-bottom: 0.08rem solid #000;
  background-color: #dd4a31;
  color: #fff;
}
.contact-container .about-wrap .con {
  line-height: 1.6;
  font-size: 0.37333333rem;
}
.contact-container .about-wrap .con p {
  text-indent: 1em;
  text-align: justify;
  letter-spacing: 0.00533333rem;
}
.contact-container .about-wrap li {
  padding: 0 0 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 0.02666667rem solid #fff;
}
.contact-container .about-wrap li .h2-tit {
  background-color: transparent;
  margin: 0 0 0.53333333rem 0;
  color: #fff;
  text-align: left;
  font-size: 0.48rem;
}
.contact-container .about-wrap li:nth-last-child(1) {
  border-bottom: 0;
}
.contact-container .about-wrap .logo-img {
  position: absolute;
  right: 1.06666667rem;
  bottom: 0.4rem;
  width: 1.86666667rem;
  height: 1.86666667rem;
}
.contact-container .share-wrap ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.33333333rem 0.64rem;
}
.contact-container .share-wrap li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.53333333rem;
  height: 1.86666667rem;
  margin-bottom: 0.13333333rem;
  text-align: center;
  background-color: #dd4a31;
  transition: all .5s;
  cursor: pointer;
}
.contact-container .share-wrap li .img {
  width: 0.8rem;
  height: 0.8rem;
}
.contact-container .share-wrap li .mask-con {
  display: none;
}
.contact-container .share-wrap li.item1 .img {
  width: 1.33333333rem;
  height: 1.33333333rem;
}
.contact-container .share-wrap li.item2,
.contact-container .share-wrap li.item5,
.contact-container .share-wrap li.item6 {
  display: none;
}
.contact-container .share-wrap li:active {
  opacity: 0.6;
  transition: all .5s;
}
.contact-container .contact-address {
  overflow: hidden;
  background-color: #dd4a31;
  border-top: 0.08rem solid #000;
  padding: 1.33333333rem 0.64rem;
}
.contact-container .contact-address .w1100 {
  display: flex;
  flex-direction: column-reverse;
}
.contact-container .contact-address .info-wrap {
  color: #fff;
}
.contact-container .contact-address .info-wrap::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
.contact-container .contact-address .info-wrap ul {
  display: inline-block;
  margin-top: 0.4rem;
}
.contact-container .contact-address .info-wrap li {
  height: 1.01333333rem;
  line-height: 1.33333333rem;
  border-bottom: 0.02666667rem solid #fff;
  font-size: 0.32rem;
}
.contact-container .contact-address .map-wrap {
  height: 380px;
  background-color: #ccc;
  overflow: hidden;
}
.contact-container .contact-address .map-wrap #allmap {
  height: 100%;
}
/************  产品列表页  *************/
.head-cate-list {
  min-height: 5.33333333rem;
  padding: 0.64rem 0.64rem;
  background: url('../images/2.jpg') no-repeat;
  background-size: cover;
  display: flex;
}
.head-cate-list .tit {
  display: inline-flex;
  width: 0.42666667rem;
  padding: 0.2rem 0.26666667rem;
  font-size: 0.42666667rem;
  background-color: #fff;
  font-weight: bold;
}
.head-cate-list ul {
  display: flex;
  flex-wrap: wrap;
}
.head-cate-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.6rem;
  height: 2.18666667rem;
  padding: 0.2rem 0;
  margin: 0 0 0.4rem 0.92rem;
  background-color: #f9e8ec;
}
.head-cate-list li .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.06666667rem;
  height: 1.44rem;
  margin-top: 0.26666667rem;
  background-color: #000;
}
.product-list {
  padding: 0.88rem 0.64rem;
}
.product-list .wxcode,
.product-list .attr,
.product-list .desc,
.product-list .buy {
  display: none;
}
.product-list .product-img-wrap {
  position: relative;
  border-bottom: 0.02666667rem solid #000;
}
.product-list .product-img-wrap .imgs-wrap {
  height: 9.33333333rem;
}
.product-list .product-img-wrap .imgs-wrap img {
  width: 100%;
  height: 100%;
}
.product-list .product-img-wrap .item {
  height: 9.33333333rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.product-list .product-img-wrap .detail-nav-container {
  display: none;
}
.product-list .custom-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  font-size: 0;
  text-align: center;
  z-index: 10;
}
.product-list .custom-dots li {
  display: inline-block;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 0.13333333rem;
}
.product-list .custom-dots li.active {
  background-color: #FECB12;
}
.product-list .product-info-wrap {
  padding: 0.8rem 0.64rem 0.8rem;
  background-color: #FECB12;
}
.product-list .product-info-wrap .h1-tit {
  font-size: 0.53333333rem;
  padding: 0.53333333rem 0 0.26666667rem;
  font-weight: bold;
}
.product-list .product-info-wrap .line {
  display: none;
}
.product-list .product-info-wrap .detail {
  padding-top: 0.53333333rem;
  text-align: justify;
  letter-spacing: 0.00533333rem;
}
.product-list .product-info-wrap .detail p {
  line-height: 1.4;
}
.product-list .product-info-wrap .price {
  display: inline-block;
  font-size: 0.48rem;
  background-color: #000;
  color: #fff;
  padding: 0.04rem 0.10666667rem;
}
.product-list .product-info-wrap .product-property-box {
  margin: 0.4rem 0;
  padding-bottom: 0.26666667rem;
}
.product-list .product-info-wrap .product-property-box li {
  width: 50%;
  line-height: 0.56rem;
}
.product-list .product-info-wrap .product-property-box li div {
  display: flex;
}
.product-list .product-info-wrap .product-property-box li .tit {
  margin-right: 0.13333333rem;
}
.product-list .product-info-wrap .product-property-box li .desc {
  color: #505050;
}
.product-list .product-info-wrap .buy-btn-wrap {
  position: relative;
  top: -0.13333333rem;
  text-align: right;
  margin-top: 0.26666667rem;
}
.product-list .product-info-wrap .buy-btn-wrap .buy-btn {
  display: inline-block;
  font-size: 0.42666667rem;
  line-height: 2;
  padding: 0 0.4rem;
  background-color: #000;
  color: #fff;
}
.product-list .product-info-wrap .wx-code-wrap {
  display: none;
  justify-content: center;
  align-items: flex-end;
  border-top: 0.02666667rem solid #000;
  padding-top: 0.4rem;
}
.product-list .product-info-wrap .wx-code-wrap img {
  width: 1.6rem;
  height: 1.6rem;
}
.product-list .product-info-wrap .wx-code-wrap .text {
  margin: 0 0 0.13333333rem 0.26666667rem;
  color: #666;
  font-size: 0.32rem;
}
.product-list .product-resc-wrap {
  border-top: 0.08rem solid #000;
  padding: 1.06666667rem 0.64rem 1.6rem;
}
.product-list .product-resc-wrap .resc-tit {
  margin: 0.4rem 0;
  font-weight: bold;
}
.product-list .product-resc-wrap .tit {
  margin-top: 0.26666667rem;
  font-size: 0.37333333rem;
}
.product-list .product-resc-wrap .desc-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-list .product-resc-wrap .price {
  background-color: #000;
  padding: 0 0.04rem;
  color: #fff;
  margin-top: 0.13333333rem;
}
.product-list .product-resc-wrap .owl-nav,
.product-list .product-resc-wrap .desc {
  display: none;
}
.product-list .product-resc-wrap .owl-dot.active {
  background-color: #FECB12 !important;
}
/************  产品内页  *************/
.product-detail-container .banner-sec .head-banner .owl-item,
.product-detail-container .banner-sec .head-banner .owl-stage,
.product-detail-container .banner-sec .head-banner .item {
  height: 6.66666667rem;
}
.product-detail-container .banner-sec .w1100 {
  display: flex;
}
.product-detail-container .banner-sec .product-info {
  position: relative;
  flex: 0 0 3.2rem;
  box-sizing: border-box;
  padding: 0.74666667rem 0.24rem;
}
.product-detail-container .banner-sec .product-info .tit {
  font-size: 0.42666667rem;
  line-height: 1.3;
  font-weight: bold;
}
.product-detail-container .banner-sec .product-info .desc {
  margin-top: 0.26666667rem;
  font-size: 0.32rem;
  height: 0.85333333rem;
  line-height: 0.42666667rem;
  overflow: hidden;
}
.product-detail-container .banner-sec .product-info .price {
  position: absolute;
  bottom: 1.06666667rem;
  left: 0;
  right: 0;
  font-size: 0.42666667rem;
  text-align: center;
}
.product-detail-container .banner-sec .product-info .buy {
  position: absolute;
  bottom: 0.26666667rem;
  left: 0;
  right: 0;
  text-align: center;
}
.product-detail-container .banner-sec .product-info .buy a {
  display: inline-block;
  background-color: #e84466;
  color: #fff;
  padding: 0.13333333rem;
}
.product-detail-container .banner-sec .head-banner-wrap {
  width: 6.8rem;
  flex: 0 0 6.8rem;
}
.product-detail-container .banner-sec .dots-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
}
.product-detail-container .product-resc-wrap {
  margin: 0 0.64rem;
  padding: 0.64rem 0;
  border-top: 0.01333333rem solid #000;
}
.product-detail-container .product-resc-wrap .resc-tit {
  font-size: 0.48rem;
  margin-bottom: 0.56rem;
}
.product-detail-container .product-resc-wrap .tit {
  font-size: 0.37333333rem;
  margin: 0.26666667rem 0 0.13333333rem;
}
.product-detail-container .product-resc-wrap .price {
  color: #e84466;
}
.product-detail-container .product-resc-wrap .owl-nav {
  display: none;
}
.detail-wrap {
  display: flex;
  margin: 0.8rem 0.64rem;
}
.detail-wrap .detail-tit-info {
  flex: 0 0 2.56rem;
  width: 2.56rem;
  max-height: 9.6rem;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.detail-wrap .detail-tit-info p {
  margin-right: 0.26666667rem;
  line-height: 1.3;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-font-feature-settings: 'vpal';
  -ms-font-feature-settings: 'vpal';
  -o-font-feature-settings: 'vpal';
  font-feature-settings: 'vpal';
}
.detail-wrap .detail-con .con-tit {
  font-size: 0.53333333rem;
  font-weight: bold;
}
.detail-wrap .detail-con .sec-tit {
  font-size: 0.42666667rem;
  margin: 0.13333333rem 0 0.56rem;
}
.detail-wrap .detail-con .con p {
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 0.4rem;
}
/******  专栏和新闻内页 *********/
.detail-container .left-wrap {
  -ms-writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  -webkit-font-feature-settings: 'vpal';
  -ms-font-feature-settings: 'vpal';
  -o-font-feature-settings: 'vpal';
  font-feature-settings: 'vpal';
}
.text-img-wrap {
  display: flex;
}
.text-img-wrap .left-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.56rem;
}
.text-img-wrap .left-wrap h1 {
  font-size: 0.48rem;
}
.text-img-wrap .right-wrap {
  width: 6.8rem;
  flex: 0 0 6.8rem;
}
.up-down-page {
  margin: 0 0.64rem 0.8rem;
}
.up-down-page p {
  margin-top: 0.34666667rem;
}
/*******  新闻列表页  ********/
.news-list-conatiner .text-img-wrap {
  margin-bottom: 0.8rem;
  border-top: 0.04rem solid #f7f5f5;
}
.news-list-conatiner .left-wrap {
  margin: 0 0.13333333rem 0 0.33333333rem;
  background-color: #fdfdfd;
}
.news-list-conatiner .left-wrap .tit {
  font-size: 0.42666667rem;
  font-weight: bold;
}
.news-list-conatiner .left-wrap .author {
  color: #949494;
  margin: 0.8rem 0 0.2rem;
}
.news-list-conatiner .left-wrap .desc {
  font-size: 0.32rem;
  height: 1.28rem;
  line-height: 0.42666667rem;
  overflow: hidden;
}
