<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {include file="public/head" /}
</head>
<body>
<div class="container product-list-container">
    {include file="public/header-nav" /}
    <div class="index-content">
        <div class="resc-head-wrap">
            <div class="top">
                <img src="./images/dog.png" alt="">
            </div>
            <div class="product-resc-wrap w1200">
                <div class="banner-wrap product-resc-banner owl-carousel">
                    <div class="item">
                        <a href="#"><img src="images/t1.png" alt=""></a>
                        <p class="tit"><a href="">全期猫粮 1.8KG</a></p>
                        <p class="desc">优质食材，薯类膨化多肉配方</p>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/t2.png" alt=""></a>
                        <p class="tit"><a href="">全期猫粮 1.8KG</a></p>
                        <p class="desc">优质食材，薯类膨化多肉配方</p>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/t3.png" alt=""></a>
                        <p class="tit"><a href="">全期猫粮 1.8KG</a></p>
                        <p class="desc">优质食材，薯类膨化多肉配方</p>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/t4.png" alt=""></a>
                        <p class="tit"><a href="">全期猫粮 1.8KG</a></p>
                        <p class="desc">优质食材，薯类膨化多肉配方</p>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/t5.png" alt=""></a>
                        <p class="tit"><a href="">全期猫粮 1.8KG</a></p>
                        <p class="desc">优质食材，薯类膨化多肉配方</p>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/t6.png" alt=""></a>
                        <p class="tit"><a href="">全期猫粮 1.8KG</a></p>
                        <p class="desc">优质食材，薯类膨化多肉配方</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-list-wrap w1200">
            <h2 class="h2-tit">唔该<span class="icon"><img src="./images/n1.png" alt=""></span></h2>
            <div class="product-list">
                <ul>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t1.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t2.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t3.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t4.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t5.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t6.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t1.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t2.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-list-wrap w1200">
            <h2 class="h2-tit">唔该</h2>
            <div class="product-list">
                <ul>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t1.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t2.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t3.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t4.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t5.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t6.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t1.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img class="product-img" src="images/t2.png" alt=""></a>
                        <div class="product-info">
                            <p class="tit">春节礼盒</p>
                            <p class="desc">66.00</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {include file="public/footer" /}
    <script>
        var dpr992 = dpr*992;
        var dpr1200 = dpr*1200;
        $('.product-resc-banner').owlCarousel({
            loop:true,
            margin:40,
            nav: true,
            responsiveClass:true,
            responsive:{
                0:{
                    items:3,
                },
                [dpr992]:{
                    items:3,
                },
                [dpr1200]:{
                    items:5,
                    loop:true
                }
            }
        });


        $(function(){
            $(window).on('resize',resize).trigger('resize');
            function resize(){
                sizeHeight($('.resc-head-wrap'),8);
            }
        })

    </script>
</body>
</html>