<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们 - 唔该</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <!--包含头部文件-->
    {include file="public/header" /}
    <style>
        .head-theme-item .info-con{ float: left;}
        .content-wrap .head-theme-wrap,.info-mark{ background-color:#bc412e;}
        .info-mark{box-shadow: 60px 0px 105px #bc412e; opacity: 0;}
        .head-teme-more-icon{ display: none;}
    </style>
</head>
<body>
    <div class="container">
        <div class="main-content">
            <!--包含左侧logo-->
            {include file="public/left" /}
            <div class="content-wrap section">
                <div class="content-container about-content-container">
                    <div class="content-section about-content-section">

                        <h1 class="page-main-tit font30">唔该</h1>
                        <div class="curpage-nav">
                            <ul class="clearfix">
                                <!--<li>-->
                                    <!--<div class="more-icon inside-page-more-icon"><img src="__STATIC__/home/images/direc-icon.png" alt=""></div><span class="font18">Found mgoi</span>-->
                                <!--</li>-->
                                <li class="font14">
                                    <div class="more-icon inside-page-more-icon"><img src="__STATIC__/home/images/direc-icon.png" alt=""></div><span class="font18">来源</span>
                                </li>
                            </ul>
                        </div>
                        <!--<div class="video-wrap block-section">-->
                            <!--<h2 class="h-tit font16">Found mgoi</h2>-->
                            <!--<div class="video-item">-->

                            <!--</div>-->
                        <!--</div>-->
                        <div class="source-wrap block-section">
                            <h2 class="h-tit font16">来源</h2>
                            <div class="source-item font14">
                                <p>「唔该」这句口头禅频繁出现在人际交往中理应表示谢意的场合——这场合本来应该说「谢谢」的，但是广东人就一句「唔该」。</p>
                                <p>「唔该」就等于「不应该」吗？钻进古纸堆中，发现，古人所说的「该」原来并没有「应该」的意义。譬如左思《吴都赋》中的一句「耳目之所不该」，应译成「耳目所不能包括的」。古语「该」通「赅」，意为具备、完备、包括。《说文解字》释「该」道：「军中约也。」这又把它的使用情况界定在军队内。作为语言发展的一种结果，「该」的派生义「应该」已成为今日使用中的主要义，而渐被人忘却的基本义则转由「赅」去承担（成语有「言简意赅」）。</p>
                                <p>倘设想「唔该」果真留有古文化的一条尾巴，这一口头禅则可理解成「不完备」。什么「不完备」？说话者自己呀！服务行业里的员工冲你说「唔该」，说的是自己服务质量的「不完备」——潜台词是「怎么服务都无法表达我对你的一片感激」。  </p>
                                <p>至于热心助人的你让人們所感受到的古道热肠，对方连声的「唔该」，亦在表明其谢意的「不完备」哩。这个社会在呼唤文明呼唤礼貌，那么，请从「唔该」说起吧。唯其不完备，才需要呼唤。当大家都沉浸在「唔该」声中仍觉不完备时，我們的精神文明建设就大大地前进了一步。</p>
                            </div>
                        </div>
                    </div>
                    <!--包含底部文件-->
                    {include file="public/footer" /}
                </div>
            </div>
        </div>
        <!--包含头部文件-->
        {include file="public/nav" /}
    </div>
    <!--包含底部文件-->
    {include file="public/script" /}
</body>
</html>